DEBUG=true
ALLOWED_HOSTS="localhost"
SECRET_KEY="your_secret_key"
POSTGRES_NAME="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
# Set Email Backend to "django_ses.SESBackend" in production
# Above Development EMAIL_BACKEND would use terminal to "send" emails!
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_SES_REGION_NAME=""
AWS_SES_REGION_ENDPOINT=""
DEFAULT_FROM_EMAIL="example@example.com"
# Below testing keys (always passing), do not use in production
RECAPTCHA_PUBLIC_KEY="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
RECAPTCHA_PRIVATE_KEY="6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe"
# Set to empty in production
SILENCED_SYSTEM_CHECKS="captcha.recaptcha_test_key_error"
# Default superuser
DJANGO_SUPERUSER_USERNAME="admin"
DJANGO_SUPERUSER_PASSWORD="admin"
DJANGO_SUPERUSER_EMAIL="example@admin.com"