asgiref==3.4.1; python_version >= "3.6"
boto3==1.20.24; python_version >= "3.6"
botocore==1.23.24; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.0" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.0"
charset-normalizer==2.0.9; python_full_version >= "3.6.0" and python_version >= "3"
confusable-homoglyphs==3.2.0; python_version >= "3.6"
django-crispy-forms==1.12.0; python_version >= "3.6"
django-recaptcha==2.0.6
django-registration==3.2; python_version >= "3.6"
django-ses==2.2.1; python_version >= "3.5"
django==3.2.7; python_version >= "3.6"
djangorestframework==3.12.4; python_version >= "3.5"
fpdf==1.7.2
future==0.18.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
joblib==1.1.0; python_version >= "3.8" and python_version < "3.10"
js2py==0.71
numpy==1.21.2; python_version >= "3.8" and python_version < "3.10"
pillow==8.3.2; python_version >= "3.6"
psycopg2==2.9.1; python_version >= "3.6"
pyjsparser==2.7.1
python-dateutil==2.8.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
python-dotenv==0.19.0; python_version >= "3.5"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pytz==2021.3; python_version >= "3.6"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
s3transfer==0.5.0; python_version >= "3.6"
schedule==1.1.0; python_version >= "3.6"
scikit-learn==0.24.2; python_version >= "3.8" and python_version < "3.10"
scipy==1.7.1; python_version >= "3.8" and python_version < "3.10"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.6"
stripe==2.60.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
threadpoolctl==3.0.0; python_version >= "3.8" and python_version < "3.10"
tw-complex==0.3.0; python_version >= "3.8" and python_version < "3.10"
tzdata==2021.5; platform_system == "Windows" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
tzlocal==4.1; python_version >= "3.6"
urllib3==1.26.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
