asgiref==3.5.0; python_version >= "3.8"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
autoflake==1.4
black==22.3.0; python_full_version >= "3.6.2"
boto3==1.22.0; python_version >= "3.6"
botocore==1.25.0; python_version >= "3.6"
brotli==1.0.9; python_version >= "3.6"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6") and implementation_name == "pypy" and python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6"
click==8.1.2; python_version >= "3.7" and python_full_version >= "3.6.2"
colorama==0.4.4; python_version >= "3.7" and python_full_version >= "3.6.2" and platform_system == "Windows" and (python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0")
configargparse==1.5.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
confusable-homoglyphs==3.2.0; python_version >= "3.6"
coverage==6.3.2; python_version >= "3.7"
diskcache==5.4.0; python_version >= "3"
django-crispy-forms==1.14.0; python_version >= "3.7"
django-registration==3.2; python_version >= "3.6"
django-ses==2.6.1; python_version >= "3.5"
django==4.0.4; python_version >= "3.8"
djangorestframework==3.13.1; python_version >= "3.6"
flake8==4.0.1; python_version >= "3.6"
flask-basicauth==0.2.0; python_version >= "3.6"
flask-cors==3.0.10; python_version >= "3.6"
flask==2.1.1; python_version >= "3.7"
fpdf==1.7.2
gevent==21.12.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6"
geventhttpclient==1.5.3; python_version >= "3.6"
greenlet==1.1.2; python_version >= "3.6" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" or python_version >= "3.6" and platform_python_implementation == "CPython" and python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.7"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
itsdangerous==2.1.2; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.7"
jmespath==1.0.0; python_version >= "3.7"
joblib==1.1.0; python_version >= "3.8" and python_version < "3.11"
js2py==0.71
locust==2.8.6; python_version >= "3.6"
markupsafe==2.1.1; python_version >= "3.7"
mccabe==0.6.1; python_version >= "3.6"
msgpack==1.0.3; python_version >= "3.6"
mypy-extensions==0.4.3; python_full_version >= "3.6.2"
numpy==1.22.3; python_version >= "3.8" and python_version < "3.11"
packaging==21.3; python_version >= "3.7"
pathspec==0.9.0; python_full_version >= "3.6.2"
platformdirs==2.5.2; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.7"
prometheus-client==0.13.1; python_version >= "3.6"
psutil==5.9.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
psycopg2==2.9.3; python_version >= "3.6"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.5.0"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6") and implementation_name == "pypy" or platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6") and implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyjsparser==2.7.1
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.7"
pytest-django==4.5.2; python_version >= "3.5"
pytest==7.1.2; python_version >= "3.7"
python-dateutil==2.8.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
python-dotenv==0.19.2; python_version >= "3.5"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pytz==2022.1; python_version >= "3.6"
pywin32==303; sys_platform == "win32" and python_version >= "3.6"
pyzmq==22.3.0; python_version >= "3.6"
requests-mock==1.9.3
requests==2.27.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
roundrobin==0.0.2; python_version >= "3.6"
s3transfer==0.5.2; python_version >= "3.6"
schedule==1.1.0; python_version >= "3.6"
scikit-learn==1.0.2; python_version >= "3.8" and python_version < "3.11"
scipy==1.8.0; python_version >= "3.8" and python_version < "3.11"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.8"
stripe==2.65.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
threadpoolctl==3.1.0; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1; python_version < "3.11" and python_full_version >= "3.6.2" and python_version >= "3.7"
tw-complex==1.0.3; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.2.0; python_version >= "3.7"
tzdata==2022.1; sys_platform == "win32" and python_version >= "3.8" and platform_system == "Windows" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
tzlocal==4.2; python_version >= "3.6"
urllib3==1.26.9; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
uwsgi==2.0.20
werkzeug==2.1.1; python_version >= "3.7"
zope.event==4.5.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6"
zope.interface==5.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
