
{% extends 'base/base.html' %}
{% load i18n %}
{% block meta-content %}<meta name="description" content="{% trans 'Sign in and create tribal wars proffesional outlines.' %}" />{% endblock %}
{% block content %}

    {% load crispy_forms_tags %}

    <div>
        <div class="row justify-content-center" style="min-height: 60vh;">
            <div class="col-11 col-md-9 col-lg-7 col-xl-5 align-self-center">
                {% if user.is_authenticated %}
                    <div class="alert alert-primary mt-2 mt-lg-5" style="font-size: large;cursor:default;" role="alert">{% trans 'You are already logged in as' %} <span style="text-decoration: underline;">{{user.username}}</span>!</div>
                {% endif %}
                <form method='POST'>{% csrf_token %}
                    {{ form|crispy }}
                    <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean my-3" type="submit">{% trans 'Login' %}</button>
                    <p>{% trans "Don't have an account? "  %}<a href="{% url 'django_registration_register' %}">{% trans 'Sign up' %}</a>.</p>
                    <p><a href="{% url 'password_reset' %}">{% trans 'Password recovery' %}</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock %}