
{% extends 'base/base.html' %}
{% load i18n %}
{% block meta-content %}
<meta name="description" content="{% trans 'Sign in and create tribal wars proffesional outlines.' %}" />

{% endblock %}


{% block content %}

{% load crispy_forms_tags %}
<div class="container-fluid">
<div class="row" style="height: 85vh;">
    <div class="col-4">
        
    </div>

    <div class="col-4 align-self-center">

        <form method='POST'>{% csrf_token %}


            {{ form|crispy }}
            
            <button class="btn btn-ocean my-3" type="submit">{% trans 'Login' %}</button>
            <p>{% trans "Don't have an account? "  %}<a href="{% url 'django_registration_register' %}">{% trans 'Sign up' %}</a>.</p>
        </form>

    </div>
    <div class="col-4">

    </div>
</div>
</div>
{% endblock %}