{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center font-nav" style="min-height: 70vh;">
<div class="font-nav col-10 col-lg-4 mb-4 align-self-center">
    
<h3>{% trans 'Password reset sent.' %}</h3>
<p>{% trans 'We’ve emailed you instructions for setting your password. If an account exists with the email you entered, You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
<h5 class="mt-3">{% trans 'Back to home page:' %} <a href="{% url 'base:base' %}">{% trans 'Click' %}</a></h5>
</div>
</div>
{% endblock %}