{% extends 'base/base.html' %}
{% load i18n %}
{% block meta-content %}


{% endblock %}


{% block content %}
{% if validlink%}
{% load crispy_forms_tags %}
<div class="container-md font-nav py-5" style="min-height: 70vh; max-width:1000px !important;">
        <form method='POST'>{% csrf_token %}


            {{ form|crispy }}
            
            <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean my-3" type="submit">{% trans 'Set password' %}</button>
            
        </form>

</div>
{% else %}
<div class="container-md font-nav py-5" style="min-height: 70vh; max-width:1000px !important;">
<h3>{% trans 'Sorry, Resource Not Found.' %}</h3>
<p class="mt-3">{% trans 'Back to home page: ' %}<a href="{% url 'base:base' %}">{% trans 'Click' %}</a></p>
</div>
{% endif %}
{% endblock %}