{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{% trans 'My shipments' %}{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="table-responsive">
        <table class="table table-striped mt-3">
            <thead style="background-color: teal;">
                <tr style="color: white;">
                    <th class='text-nowrap' scope="col" style="border:1px solid teal">{% trans 'Name of shipment' %}</th>
                    <th scope="col" style="border:1px solid teal">{% trans 'Date' %}</th>
                    <th scope="col" style="border:1px solid teal">{% trans 'Created' %}</th>
                    <th scope="col" style="border:1px solid teal">{% trans 'World' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for shipment in shipments %}
                    <tr>
                        <td>
                            <a class="btn btn-secondary my-2" href="{% url 'shipments:shipment' shipment.pk %}" role="button">{{shipment.name}}</a>
                        </td>
                        <td><p class="my-2 mt-3">{{shipment.date}}</p></td>
                        <td><p class="my-2 mt-3">{{shipment.created_at}}</p></td>
                        <td><p class="my-2 mt-3">{{shipment.world}}</p></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
