{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{% trans 'My shipments' %}{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="table-container" style="margin: 20px auto; overflow-x: auto; max-width: 100%;">
        <table class="table table-striped table-bordered" id="my-orders" style="width: 100%;">
            <thead>
                <tr>
                    <th>{% trans 'ID' %}</th>
                    <th>{% trans 'Start' %}</th>
                    <th>{% trans 'Off' %}</th>
                    <th>{% trans 'Nobleman' %}</th>
                    <th>{% trans 'Catapult' %}</th>
                    <th>{% trans 'Enemy' %}</th>
                    <th>{% trans 'Target' %}</th>
                    <th>{% trans 'Send min.' %}</th>
                    <th>{% trans 'Send max.' %}</th>
                    <th>{% trans 'Send Link' %}</th>
                </tr>
            </thead>
        </table>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        const data = {
            ajax: {
                url: '/api/public/v1/overview/?language=pl&token=AuUGKXI1f9Q1pqJsyA06gtvopTjfLRSct3uUPaUDNA4',
                dataSrc: function (json) {
                    const orders = [];
                    json.targets.forEach(target => {
                        target.my_orders.forEach(order => {
                            orders.push({
                                ...order,
                                target_player: target.target.player,
                                target_coords: target.target.target,
                                min_send_time: order.shipment_t1.split('T')[1].split('+')[0],
                                max_send_time: order.shipment_t2.split('T')[1].split('+')[0]
                            });
                        });
                    });
                    return orders;
                }
            },
            columns: [
                { data: 'id', title: '{% trans "ID" %}' },
                { data: 'start', title: '{% trans "Start" %}' },
                { data: 'off', title: '{% trans "Off" %}' },
                { data: 'nobleman', title: '{% trans "Nobleman" %}' },
                { data: 'catapult', title: '{% trans "Catapult" %}' },
                { data: 'target_player', title: '{% trans "Enemy" %}' },
                { data: 'target_coords', title: '{% trans "Target" %}' },
                { data: 'min_send_time', title: '{% trans "Send min." %}' },
                { data: 'max_send_time', title: '{% trans "Send max." %}' },
                {
                    data: 'send_url',
                    title: '{% trans "Send Link" %}',
                    render: function (data, type, row) {
                        return `<a href="${data}" target="_blank">Send</a>`;
                    }
                }
            ],
            order: [[7, 'asc']], // Sort by "Send min." column (index 7) in ascending order
            pageLength: 50,
            responsive: true,
            dom: 'Bfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            dom: '<"top"f>rt<"bottom"lp><"clear">', // Adjust layout (filter on top, pagination on bottom)
            autoWidth: false,
            columnDefs: [
                { targets: '_all', className: 'text-center' }
            ],
            initComplete: function () {
                this.api().table().container().querySelector('.top').style.marginTop = "1rem";
                this.api().table().container().querySelector('.top').style.marginBottom = "1rem";
                this.api().table().container().querySelector('.bottom').style.marginTop = "1rem";
                this.api().table().container().querySelectorAll('.bottom div').forEach(div => {
                    div.style.marginBottom = "1rem";
                });
                this.api().columns().every(function () {
                    const column = this;
                    $(column.header()).css('padding', '0.1rem');
                });
            },
            processing: true
        };
        if (getLanguage() === "pl") {
            data["language"] = {
                url: "https://cdn.datatables.net/plug-ins/2.1.8/i18n/pl.json",
            };
        }
        new DataTable('#my-orders', data);
    </script>
{% endblock %}