{% extends "base/base.html" %} 
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-center font-nav" style="min-height: 70vh;">

    <div class="col-10 col-md-6 col-lg-5 col-xl-4 align-self-center">
    <h1>{% trans 'Add new world' %}</h1>
    <div>
        {% if message %}
        <div class="alert alert-success my-2" role="alert">
            <li>{% trans 'World has been added.' %}</li>
          </div>
        {% endif %}
    <form method="POST" autocomplete="off">
        <input type="hidden" value="" name="form1">
        {% csrf_token %}
        {{form1|crispy}}
        <small class="form-text text-muted">{% trans 'Hints:' %}</small>
        <small class="form-text text-muted">{% trans 'For "pl160.plemiona.pl" prefix is "160". ' %}</small>
        <small class="form-text text-muted">{% trans 'For "plc1.plemiona.pl" prefix is "c1". ' %}</small>
        <small class="form-text text-muted">{% trans 'For "csc1.divokekmeny.czl" prefix is "c1". ' %}</small>

        <button class="btn btn-ocean mt-3" onclick="this.disabled=true;this.form.submit();">
            {% trans 'Add new world' %}
        </button>
    </form>

</div>
</div>

{% endblock %}