{% extends "base/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'Add world' %}{% endblock %}
{% block content %}

    <div class="container-md py-5" style="min-height: 70vh; max-width:1000px !important;">
        <div style="margin-left:-15px;margin-right:-15px;">
            <h1>{% trans 'Add new world' %}</h1>
            <div>
                {% if message %}
                    <div class="alert alert-success my-2" role="alert">
                        <li>{% trans 'World has been added.' %}</li>
                    </div>
                {% endif %}
                <form id="form-add-world" method="POST" autocomplete="off">
                    <input type="hidden" value="" name="form1">
                    {% csrf_token %}
                    {{form1|crispy}}
                    <small class="form-text text-muted">{% trans 'Hints:' %}</small>
                    <small class="form-text text-muted">{% trans 'For "pl160.plemiona.pl" prefix is "160". ' %}</small>
                    <small class="form-text text-muted">{% trans 'For "plc1.plemiona.pl" prefix is "c1". ' %}</small>
                    <small class="form-text text-muted">{% trans 'For "csc1.divokekmeny.czl" prefix is "c1". ' %}</small>

                    <button class="btn btn-ocean mt-3" onclick="handleClickButton(this,`{% trans 'Processing...' %}`,`form-add-world`,``,true);">
                        {% trans 'Add new world' %}
                    </button>
                </form>
            </div>
        </div>

{% endblock %}