{% extends "base/base.html" %} 
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Premium' %}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<script src="https://js.stripe.com/v3/"></script>


<div class="fixed-scrollbar-container">
<div class="container py-1" style="min-height: 70vh; max-width:1000px !important;font-size: larger;">
<div style="margin-right:-15px;margin-left:-15px;">
    {% if user.profile.is_premium %}
    <div class="alert alert-success" role="alert">
        {% trans 'Premium account active until' %} <b>{{user.profile.validity_date}}</b>
    </div>
    {% else %}
    <div class="alert alert-secondary" role="alert">
        {% trans 'Premium account is inactive' %}
    </div>
    {% endif %}
    <h2><span class="badge badge-dark my-2">{% trans 'Benefits:' %}</span></h2>
    <p class=""><svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="green" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
    </svg> {% trans 'UNLIMITED number of targets in the Planer (with a free account, the maximum is only 25 targets).' %}</p>

    <p><svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="green" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
    </svg> {% trans 'Access to the unused units tab after successfully finishing the outline to use them in your next outline (e.g. two separate outlines for the same day or two more).' %}</p>

    <p><svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-check2-circle" fill="green" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"/>
    </svg> {% trans 'This solution allows for stress-free management of outlines in the tribe from the level of one account, at any stage of the game, where writing is a pleasure, not a punishment.' %}</p>

    <h2><span class="badge badge-dark my-3">{% trans 'Pricing:' %}</span></h2>
    <table class="table table-bordered" style="width: min-content;">
        <tbody>
            <tr>
                <th style="min-width: 25vh;" class="text-nowrap">{% trans '1 month' %}</th>
                <th style="min-width: 25vh;" class="text-nowrap">{% trans '2 months' %}</th>
                <th style="min-width: 25vh;" class="text-nowrap">{% trans '3 months' %}</th>
            </tr>
            <tr>
                <th id="cur-1" style="min-width: 25vh;" class="text-nowrap">30 PLN</th>
                <th id="cur-2" style="min-width: 25vh;" class="text-nowrap">55 PLN</th>
                <th id="cur-3" style="min-width: 25vh;" class="text-nowrap">70 PLN</th>
            </tr>
        </tbody>
    </table>
    <p>{% trans 'Note, payments in currencies other than PLN are already supported on the Stripe website (which will take care of any currency conversion for example from EUR)!' %}</p>
    <h2><span class="badge badge-dark my-3">{% trans '1. Buy now with Stripe:' %}</span></h2>

    <select onchange="initialize_payment_process(value)" id="amount-select" style="width: 200px; font-size: 20px; margin-top: 5px; margin-bottom: 1rem;">
        <option id="option-1" value="30">{% trans '1 month' %}</option>
        <option id="option-2" value="55">{% trans '2 months' %}</option>
        <option id="option-3" value="70">{% trans '3 months' %}</option>
    </select>
    <div>
        <button class="btn btn-ocean btn-lg mb-5" id="payment-button"><i class="bi bi-wallet mr-2"></i>{% trans "Buy now"%}</button>
    </div>
    <p>{% trans "Please note, this is a <b>one-time transaction</b>, your card or account will (never) be associated with this site and no fees will be ever charged when your premium account expires." %}</p>
    <p>{% trans "There are no obstacles to extend an active premium account." %}</p>

    <h2><span class="badge badge-dark my-3 mt-5">{% trans '2. Transfer directly to the account:' %}</span></h2>
    <div class="alert alert-danger" role="alert">
        {% trans 'Note, in this case, activation is manual after receiving the transfer (it may take a while), if you are in a hurry, use the first option.' %}
    </div>
    <h3 class="my-4">{% trans 'Transfer details for your account:' %}</h3>
    <div class="form-group row">
        <label for="account" class="col-12 col-sm-auto mt-2 pt-1">{% trans 'Account number' %}</label>
        <div class="col-12 col-md-9 col-lg-6 mt-2">
          <input type="text" class="form-control" id="account" value="27 1020 4913 0000 9202 0149 7262" readonly>
        </div>
        <div class="col-auto mt-2">
            <button class="copy-button" onclick="copyDataToClipboard(this,`account`,true)"><img onclick="" width="30px" height="30px" src="{% static 'images/copy-text.svg' %}"></button>
        </div>
    </div>
    <div class="form-group row">
        <label for="receiver" class="col-12 col-sm-auto mt-2 pt-1">{% trans 'Recipient' %}</label>
        <div class="col-12 col-md-9 col-lg-6 mt-2">
          <input type="text" class="form-control" id="receiver" value="Rafał Safin" readonly>
        </div>
        <div class="col-auto mt-2">
            <button class="copy-button" onclick="copyDataToClipboard(this,`receiver`,true)"><img onclick="" width="30px" height="30px" src="{% static 'images/copy-text.svg' %}"></button>
        </div>
    </div>
    <div class="form-group row mb-4">
        <label for="receiver" class="col-12 col-sm-auto mt-2 pt-1">{% trans 'Transfer title' %}</label>
        <div class="col-12 col-md-9 col-lg-6 mt-2">
          <input type="text" class="form-control" id="title" value="plemiona-planer:{{user.username}}" readonly>
        </div>
        <div class="col-auto mt-2">
            <button class="copy-button" onclick="copyDataToClipboard(this,`title`,true)"><img onclick="" width="30px" height="30px" src="{% static 'images/copy-text.svg' %}"></button>
        </div>
    </div>
    <h2><span class="badge badge-dark my-3 mt-5">{% trans 'Payment history' %}:</span></h2>

    <table class="table table-bordered table-sm text-center">
        <thead>
            <tr>
                <th class="text-nowrap">{% trans 'Status' %}</th>
                <th class="text-nowrap">{% trans 'Payment date' %}</th>
                <th class="text-nowrap">{% trans 'Amount' %}</th>
                <th class="text-nowrap">{% trans 'Number of months' %}</th>
                <th class="text-nowrap">{% trans 'End of account validity' %}</th>
                <th class="text-nowrap">{% trans 'Comments' %}</th>
            </tr>
        </thead>
        <tbody >
            {% for payment in payments %}
            <tr>
                <th class="text-nowrap border-row">{{payment.get_status_display}}</th>
                <th class="text-nowrap border-row">{{payment.payment_date}}</th>
                <th class="text-nowrap border-row">{{payment.value}}</th>
                <th class="text-nowrap border-row">{{payment.months}}</th>
                <th class="text-nowrap border-row">{{payment.new_date}}</th>
                <th class="text-nowrap border-row">{{payment.comment}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
<script>initialize_payment_process(30);</script>
{% endblock %}