{% extends "base/base.html" %} 
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans 'My settings' %}{% endblock %}
{% block content %}

<div class="fixed-scrollbar-container">
<div class="container-md py-5" style="min-height: 70vh; max-width:1000px !important;">
    <div style="margin-left:-15px;margin-right:-15px;">
    <h3>{% trans 'My settings' %}</h3>
    <table class="table table-bordered my-3 mt-4" style="width: min-content;">
        <tbody>
            <tr>
                <th style="min-width: 45vh;" class="text-nowrap">{% trans 'Username' %}</th>
                <th style="min-width: 45vh;" class="text-nowrap">{{user.username}}</th>

            </tr>
            <tr>
                <th style="min-width: 45vh;" class="text-nowrap">{% trans 'Email address' %}</th>
                <th style="min-width: 45vh;" class="text-nowrap">{{user.email}}</th>

            </tr>
            <tr>
                <th style="min-width: 45vh;" class="text-nowrap">{% trans 'Password' %}</th>
                <th style="min-width: 45vh;" class="text-nowrap"><a href="{% url 'password_change' %}">{% trans 'Reset my password' %}</a></th>
            </tr>
            <tr>
                <th style="min-width: 45vh;" class="text-nowrap">{% trans 'Server' %}</th>
                <th style="min-width: 45vh;" class="text-nowrap">{{user.profile.server.dns}}</th>
            </tr>
            <tr>
                <th style="min-width: 45vh;" class="text-nowrap">{% trans 'Premium' %}</th>
                <th style="min-width: 45vh;" class="text-nowrap">
                    {% if user.profile.is_premium %}
                    <a href="{% url 'base:premium' %}">{% trans 'Activated' %}</a>
                    {% else %}
                    <a href="{% url 'base:premium' %}">{% trans 'Not activated' %}</a>
                    {% endif %}
                </th>
            </tr>
            {% if user.profile.is_premium %}
            <tr>
                <th style="min-width: 45vh;" class="text-nowrap">{% trans 'Premium validity' %}</th>
                <th style="min-width: 45vh;" class="text-nowrap">
                    {{user.profile.validity_date}}
                </th>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <small class="form-text text-muted">{% trans 'Contact with admin to change your email address. ' %}</small>
    <form method="POST" autocomplete="off" class="mt-4">
        <input type="hidden" value="" name="form1">
        {% csrf_token %}
        {{form1|crispy}}
        <button class="btn btn-ocean" onclick="this.disabled=true;this.form.submit();">
            {% trans 'Set server' %}
        </button>
    </form>

    </div>
</div>
</div> 


{% endblock %}