{% extends 'base/base.html' %}



{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid md-pre">
    <div class="row">
        <div class="col-4">
            <div>
                <form method='POST'>{% csrf_token %}
                    {{ form1|crispy }}
                    <button class="btn btn-primary" name='form-1' type="submit">Dodaj plemię</button>
                </form>
            </div>
            <div class="mt-2">
                <form method='POST'>{% csrf_token %}
                    {{ form2|crispy }}
                    <button class="btn btn-primary mb-2" name='form-2' type="submit">Dodaj plemię</button>
                </form>
            </div>

        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color: rgb(57, 212, 233);">
                                <th>Własne plemiona</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in ally %}
                            <tr>
                                <td>{{tag}}</td>
                            </tr>
                            {% endfor %}
                            {% if ally.0 != "" %}
                            <tr>
                                <td>
                                    <form action="{% url 'base:planer_delete_ally_tags' instance.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-block btn-outline-danger" type="submit">Usuń wszystkie</button>

                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color: #dc3545">
                                <th scope="col">Przeciwne plemiona</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in enemy %}
                            <tr>
                                <td class="md-error">{{tag}}</td>
                            </tr>
                            {% endfor %}
                            {% if enemy.0 != "" %}
                            <tr>
                                <td>
                                    <form action="{% url 'base:planer_delete_enemy_tags' instance.id %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-block btn-outline-danger" type="submit">Usuń wszystkie</button>

                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>



    </div>
</div>
<div>
    <button type="button" class="btn btn-outline-primary btn-lg btn-block" data-toggle="modal" data-target="#ValidationModal">
        Utwórz i zapisz
      </button>
</div>

<div class="modal fade" id="ValidationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ValidationModalTitle">Ostrzeżenie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          W celu uniknięcia późniejszych konfliktów można ustawić własne i przeciwne plemiona 
          <div class="md-error">JEDYNIE RAZ!</div>
          <br>
          W przypadku błędu konieczne będzie stworzenie nowej rozpiski.
          Wobec powyższego:
          <li>Upewnij się, że ustawiłeś wszystkie własne plemiona.</li>
          <li>Upewnij się, że ustawiłeś wszystkie atakowane plemiona.</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          <form action="{% url 'base:planer_disable_editable' instance.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Kontynuuj</button>           
          </form>     
        </div>
      </div>
    </div>
  </div>

{% endblock %}