{% extends "base/new_outline/new_outline_initial_period2.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<input id="speed_world" type="hidden" value="{{instance.world.speed_world}}">
<input id="speed_units" type="hidden" value="{{instance.world.speed_units}}">
<div class="container-fluid">
    <form method="POST">
        <div class="row justify-content-center mb-3">
            <input type="hidden" value="" name="form-finish">
            {% csrf_token %}
            <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean btn-block">{% trans 'Confirm an outline and Exit' %}</button>

        </div>
    </form>
    <div class="row">
        <div class="col-12 col-lg-7">
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"
                integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA=="
                crossorigin="anonymous"></script>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css"
                integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg=="
                crossorigin="anonymous" />
            <script src="https://use.fontawesome.com/0cd1dfa084.js"></script>

            <form method="post">
                <input type="hidden" name="formset" value="">
                {% csrf_token %}
                {{ formset.management_form }}
                <div class="form-row mb-2">
                    <div class="col-md-2"><label>{% trans 'Mode' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'Unit' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'Min. time' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'Max. time' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'From' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'To' %}</label></div>

                </div>
                {% for form in formset %}

                <div class="form-row mb-2">
                        {% for field in form %}
                        {% if forloop.first %}
                        <div class="col-md-2">
                            {{field}}
                        </div>
                        {% else %}
                        <div class="col-md-2">
                            {{field}}
                        </div>
                        {% endif %}
                        {% endfor %}

                </div>
                 {% endfor %} 
                 {% if formset.non_form_errors %} 
                 <div class="md-error mb-2">
                     {% for error in formset.non_form_errors %} 
                     {{error}} 
                     {% endfor %}
 
         </div>
         {% endif %}
        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean mb-5" >{% trans 'Create' %}</button>

        </form>

    </div>


    <div class="col-12 col-lg-5">
        <div class="table-responsive">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            {% for time in outline_time %}
            <li class="nav-item">
                {% if forloop.counter == 1 %}
                <a class="nav-link active" id="pills-{{time.order}}" data-toggle="pill" href="#{{time.order}}"
                    role="tab" aria-controls="pills-{{time.order}}" aria-selected="true">{{time.order}}</a>
                {% else %}
                <a class="nav-link" id="pills-{{time.order}}" data-toggle="pill" href="#{{time.order}}" role="tab"
                    aria-controls="pills-{{time.order}}" aria-selected="false">{{time.order}}</a> {% endif %}
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="pills-tabContent">

            {% for time, periodmodel in outline_time.items %}

            {% if forloop.counter == 1 %}
            <div class="tab-pane fade show active" id="{{time.order}}" role="tabpanel"
                aria-labelledby="pills-{{time.order}}">
                {% else %}
                <div class="tab-pane fade show" id="{{time.order}}" role="tabpanel"
                    aria-labelledby="pills-{{time.order}}">
                    {% endif %}
                    <table class="table table-sm ">
                        <thead>
                            <tr>
                                <th scope="col">{% trans 'Mode' %}</th>
                                <th scope="col">{% trans 'Unit' %}</th>
                                <th scope="col">{% trans 'From' %}</th>
                                <th scope="col">{% trans 'To' %}</th>
                                <th scope="col">{% trans 'Min. time' %}</th>
                                <th scope="col">{% trans 'Max. time' %}</th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for period in periodmodel %}
                            <tr>
                                <th>{{period.get_status_display}}</th>
                                <th>{{period.get_unit_display}}</th>
                                <th>{%if period.from_number != None %}
                                    {{period.from_number}}
                                    {% endif %}</th>
                                <th>{%if period.to_number != None %}
                                    {{period.to_number}}
                                    {% endif %}</th>
                                <th>{{period.from_time|safe}}</th>
                                <th>{{period.to_time|safe}}</th>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>

                    <div class="btn-group" role="group" aria-label="Basic example">

  
                    <form method="POST"
                        action="{% url 'base:planer_delete_time' time.pk %}?page={{ page_obj.number}}&mode={{mode}}">
                        {% csrf_token %}
                        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-outline-danger">{% trans 'Delete' %}</button>
                    </form>
                    <form method="POST"
                        action="{% url 'base:planer_set_all_time' time.pk %}?page={{ page_obj.number}}&mode={{mode}}">
                        {% csrf_token %}
                        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-outline-ocean ml-2">{% trans 'Set for every target' %}</button>
                    </form>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    </div>
</div>
<div class="fixed-scrollbar-container">
{% block outline_navbar %}
{{block.super}}
{% endblock %}

<form method="POST">
    <input type="hidden" name="choice-formset" value="">
    {% csrf_token %} {{ choice_formset.management_form }}
    <div class="row">
        <div class="col-12 col-lg-4">
            <button onclick="this.disabled=true;this.form.submit();"
                class="btn btn-outline-info btn-block mb-2">{% trans 'Confirm selected' %}
            </button>
        </div>
    </div>

    <div class="conatiner-fluid">
        <table class="table table-sm table-bordered" style="width:min-content">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Selected' %}</th>
                    <th scope="col">{% trans 'Target' %}</th>
                    <th scope="col">{% trans 'Select Time' %}</th>
                    <th colspan="50" scope="colgroup">{% trans 'Outline' %}</th>
                </tr>
            </thead>
            <tbody>

                {% for target, lst in query %}
                <tr>
                    <th>
                        <div class="row justify-content-center">
                            <h4>
                                <span class="badge badge-primary">{{target.outline_time.order}}</span>
                            </h4>
                        </div>

                    </th>
                    <th>



                        <div class="d-flex justify-content-center">
                            <h5>
                                <span class="badge badge-pill badge-info">
                                    {{target.player}}
                                </span>
                            </h5>
                        </div>
                        <div class="d-flex justify-content-center">

                            <h5>
                                <span class="badge badge badge-secondary">
                                    {{target.target}}
                                </span>
                            </h5>

                        </div>



                    </th>


                    <th style="min-width: 13vh !important;">
                        {{target.form.choice}}
                    </th>

                    {% for weight in lst %}
                    <th class="front-{{weight.first_line}}">
                        <div class="popoverData" data-html="true"
                            data-content="<h4><span class='badge badge-pill badge-info'>{{weight.player}}</span></h4><div class='d-flex justify-content-center'><h5><span class='badge badge badge-secondary'>{{weight.start}}</span></h5></div>"
                            rel="popover" data-placement="top" data-trigger="hover">

                            <table class="table table-sm">
                                <tr>
                                    <th>
                                        <img src='{% static "images/ax.png" %}' alt="ax">
                                    </th>
                                    <th style="font-size: small;">
                                        {{weight.off}}
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        <img src='{% static "images/nobleman.png" %}' alt="ax">
                                    </th>
                                    <th style="font-size: small;">
                                        {{weight.nobleman}}
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-signpost"
                                            fill="#6c757d" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" />
                                            <path fill-rule="evenodd"
                                                d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" />
                                            <path d="M7 10h2v6H7v-6z" />
                                        </svg>
                                    </th>
                                    <th style="font-size: small;" onclick="calculate_distance(this);">
                                        {{weight.distance}}
                                    </th>

                                </tr>


                            </table>

                    </th>

                    {% endfor %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

</div>
{% if error != None %}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-white bg-danger">
            <div class="modal-header">
                <h5 class="modal-title">{{error}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.bd-example-modal-lg').modal('show');


    });
</script>

{% endif %}

<script>
    activateTooltips();
    handleAllFormsetSelect();
    $(function($) {
        var fixedBarTemplate = '<div class="fixed-scrollbar"><div></div></div>';
        var fixedBarCSS = { display: 'none', overflowX: 'scroll', position: 'fixed', width: '100%', bottom: 0 };

        $('.fixed-scrollbar-container').each(function() {
            var $container = $(this);
            var $bar = $(fixedBarTemplate).appendTo($container).css(fixedBarCSS);

            $bar.scroll(function() {
                $container.scrollLeft($bar.scrollLeft());
            });

            $bar.data("status", "off");
        });

        var fixSize = function() {
            $('.fixed-scrollbar').each(function() {
                var $bar = $(this);
                var $container = $bar.parent();

                $bar.children('div').height(1).width($container[0].scrollWidth);
                $bar.width($container.width()).scrollLeft($container.scrollLeft());
            });
        };

        $(window).on("load.fixedbar resize.fixedbar", function() {
            fixSize();
        });

        var scrollTimeout = null;

        $(window).on("scroll.fixedbar", function() {
            clearTimeout(scrollTimeout);
            scrollTimeout = setTimeout(function() {
                $('.fixed-scrollbar-container').each(function() {
                    var $container = $(this);
                    var $bar = $container.children('.fixed-scrollbar');

                    if ($bar.length) {
                        var containerOffset = { top: $container.offset().top, bottom: $container.offset().top + $container.height() };
                        var windowOffset = { top: $(window).scrollTop(), bottom: $(window).scrollTop() + $(window).height() };

                        if ((containerOffset.top > windowOffset.bottom) || (windowOffset.bottom > containerOffset.bottom)) {
                            if ($bar.data("status") == "on") {
                                $bar.hide().data("status", "off");
                            }
                        } else {
                            if ($bar.data("status") == "off") {
                                $bar.show().data("status", "on");
                                $bar.scrollLeft($container.scrollLeft());
                            }
                        }
                    }
                });
            }, 50);
        });

        $(window).trigger("scroll.fixedbar");
    });
</script>


{% endblock %}