{% extends 'base/base.html' %} 
{% load i18n %} 
{% block title %}{% trans 'Create new outline' %}{% endblock %}
{% block content %} 
{% load crispy_forms_tags %}

<div class="row mt-3 mb-4">
    <div class="col-12 col-lg-7">

        <div class="p-3 mb-2 bg-light text-dark"><i class="bi bi-info-square"></i> {% trans 'Your server is set to' %} <a href="{% url 'base:settings' %}" class="font-teal" style="text-decoration: underline;">{{profile.server}}.</a></div>


        <div class="p-3 mb-2 bg-light text-dark"><i class="bi bi-info-square"></i> {% trans 'First time? You can choose a special <span class="md-correct2">World Test</span> created for testing purposes, see ' %}<a target="_blank" class="font-teal" style="text-decoration: underline;" href="{% url 'base:documentation' %}#swiat-testowy-czyli-pierwsze-kroki-z-planerem">{% trans 'docs' %}</a>.</div>

        <form method='POST' autocomplete="off">
            {% csrf_token %} 
            {{ form1|crispy }}
            <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean mb-5 mt-2">
                {% trans 'Create' %}
            </button>
        </form>
        
    </div>
 
    <div class="col-12 col-lg-5" style="border-left: 1px solid #ddd;">
        <div class="h-100">
            <ul class="nav nav-pills mb-3 mt-1" id="pills-tab" role="tablist">
                <li class="nav-item navitem100">
                    <a class="nav-link active ocean-tab-left" id="pills-home-tab" data-toggle="pill" href="#pills-opis" role="tab" aria-controls="pills-home" aria-selected="true">{% trans 'Info' %}</a>
                </li>
                <li class="nav-item navitem100">
                    <a class="nav-link ocean-tab-right" id="pills-contact-tab" data-toggle="pill" href="#pills-przyklady" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans 'Examples' %}</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-opis" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{info|safe}}
                </div>
                <div class="tab-pane fade" id="pills-przyklady" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {{example|safe}}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}