{% extends "base/new_outline/new_outline_initial_period2.html" %}

{% load static %}
{% load i18n %}

    {% block content %}
    <input id="speed_world" type="hidden" value="{{instance.world.speed_world}}">
    <input id="speed_units" type="hidden" value="{{instance.world.speed_units}}">

    <div class="fixed-scrollbar-container">
    {% block outline_navbar %}
    {{block.super}}
    {% endblock %}

    <div class="conatiner-fluid" style="width: min-content;">

        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th class="text-nowrap">{% trans 'Ruin Target' %}</th>
                    <th class="text-nowrap" colspan="50" scope="colgroup">{% trans 'Ruin Outline' %}</th>
                </tr>
            </thead>
            <tbody>

                {% for target, lst in query %}
                <tr>

                    <th>



                        <div class="d-flex justify-content-center">
                            <h5>
                                <span class="badge badge-pill badge-info">
                                    {{target.player}}
                                </span>
                            </h5>
                        </div>
                        <div class="d-flex justify-content-center">

                            <h5>
                                <span class="badge badge badge-secondary">
                                    {{target.target}}
                                </span>
                            </h5>

                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>
                                <a target="_blank" href="{{target.get_absolute_url}}"
                                    class="btn btn-sm btn-outline-info">
                                    {% trans 'Edit' %}
                                </a>
                            </h5>
                        </div>



                    </th>

                    {% for weight in lst %}

                    <th class="front-{{weight.first_line}}">
                        <div class="popoverData" data-html="true"
                            data-content="<h4><span class='badge badge-pill badge-info'>{{weight.player}}</span></h4><div class='d-flex justify-content-center'><h5><span class='badge badge badge-secondary'>{{weight.start}}</span></h5></div>"
                            rel="popover" data-placement="top" data-trigger="hover">
                            <table class="table table-sm">
                                    <tr>
                                        <th>
                                            <img src='{% static "images/ax.png" %}' alt="ax">
                                        </th>
                                        <th style="font-size: small;">
                                            {{weight.off}}
                                        </th>

                                    </tr>
                                    <tr>
                                        <th>
                                            <img src='{% static "images/nobleman.png" %}' alt="ax">
                                        </th>
                                        <th style="font-size: small;">
                                            {{weight.nobleman}}
                                        </th>

                                    </tr>
                                    <tr>
                                        <th>
                                            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-signpost"
                                                fill="#6c757d" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" />
                                                <path d="M7 10h2v6H7v-6z" />
                                            </svg>
                                        </th>
                                        <th style="font-size: small;" onclick="calculate_distance(this);">
                                            {{weight.distance}}
                                        </th>

                                    </tr>


                                </table>





                    </th>
                    {% endfor %}


                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<script>
    activateTooltips();
    $(function($) {
        var fixedBarTemplate = '<div class="fixed-scrollbar"><div></div></div>';
        var fixedBarCSS = { display: 'none', overflowX: 'scroll', position: 'fixed', width: '100%', bottom: 0 };

        $('.fixed-scrollbar-container').each(function() {
            var $container = $(this);
            var $bar = $(fixedBarTemplate).appendTo($container).css(fixedBarCSS);

            $bar.scroll(function() {
                $container.scrollLeft($bar.scrollLeft());
            });

            $bar.data("status", "off");
        });

        var fixSize = function() {
            $('.fixed-scrollbar').each(function() {
                var $bar = $(this);
                var $container = $bar.parent();

                $bar.children('div').height(1).width($container[0].scrollWidth);
                $bar.width($container.width()).scrollLeft($container.scrollLeft());
            });
        };

        $(window).on("load.fixedbar resize.fixedbar", function() {
            fixSize();
        });

        var scrollTimeout = null;

        $(window).on("scroll.fixedbar", function() {
            clearTimeout(scrollTimeout);
            scrollTimeout = setTimeout(function() {
                $('.fixed-scrollbar-container').each(function() {
                    var $container = $(this);
                    var $bar = $container.children('.fixed-scrollbar');

                    if ($bar.length) {
                        var containerOffset = { top: $container.offset().top, bottom: $container.offset().top + $container.height() };
                        var windowOffset = { top: $(window).scrollTop(), bottom: $(window).scrollTop() + $(window).height() };

                        if ((containerOffset.top > windowOffset.bottom) || (windowOffset.bottom > containerOffset.bottom)) {
                            if ($bar.data("status") == "on") {
                                $bar.hide().data("status", "off");
                            }
                        } else {
                            if ($bar.data("status") == "off") {
                                $bar.show().data("status", "on");
                                $bar.scrollLeft($container.scrollLeft());
                            }
                        }
                    }
                });
            }, 50);
        });

        $(window).trigger("scroll.fixedbar");
    });
</script>
<div class="modal fade" id="ValidationModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ValidationModalTitle">{% trans 'Warning' %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% blocktrans %} Current progress will be
            <div class="md-error">LOST!</div>
            <br>You will return to the previous form. {% endblocktrans %}

        </div>
        <div class="modal-footer">
            <button id="dismiss-btn" type="button" class="btn btn-secondary"
                data-dismiss="modal"><b>{% trans 'Close' %}</b></button>
            <form id="form1-form" method="POST">
                <input type="hidden" name="form1" value="">
                {% csrf_token %}
                <button id="form1-btn" class="btn btn-ocean">
                    {% trans 'Continue' %}
                </button>

            </form>
        </div>
        <script>
            const buttonForm1 = document.getElementById("form1-btn")
            const buttonDismiss = document.getElementById("dismiss-btn")
            buttonForm1.onclick = () => {
                buttonForm1.disabled = true
                buttonDismiss.disabled = true
                buttonForm1.innerHTML = "<span class='spinner-border mr-1 spinner-border-sm text-dark my-auto' role='status'></span>{% trans 'Processing...' %}"
                const form1 = document.getElementById("form1-form")
                form1.submit()
              }
        </script>
    </div>
</div>
</div>
    {% endblock %}