{% extends "base/new_outline/new_outline_initial_period2.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <figure class="col-2">
        <img class="d-none d-lg-flex img-fluid" src='{% static "images/knight-2.jpg" %}' alt="knight" >
    </figure>
    <div class="col-8">
        <div class="d-flex flex-column justify-content-center h-100">
            <div class="d-flex flex-row justify-content-center">
                <h2>
                    <span class="badge badge-pill badge-info">
                        {{instance.name}}
                    </span>
                </h2>
            </div>

            <div class="d-flex flex-row justify-content-center">
                <h2>
                    <span class="badge badge-pill badge-info">
                        {{instance.date}}
                    </span>
                </h2>
            </div>
            <div class="d-flex flex-row justify-content-center mt-3">
                <h2>
                    <span class="badge badge-pill badge-secondary">
                        {% trans 'Real targets: ' %}{{reals}}
                    </span>
                </h2>
            </div>
            <div class="d-flex flex-row justify-content-center">
                <h2>
                    <span class="badge badge-pill badge-secondary">
                        {% trans 'Fake targets: ' %}{{fakes}}
                    </span>
                </h2>
            </div>


        </div>
    </div>
    <figure class="col-2">
        <img class="d-none d-lg-flex img-fluid" src='{% static "images/knight-2.jpg" %}' alt="knight" >
    </figure>
</div>
<div class="table-responsive">
{% block outline_navbar %}
{{block.super}}
{% endblock %}

<div class="conatiner-fluid text-center" id='leftscroll'>
    <h2>
        <span class="my-2">
            {% trans 'You can add & remove targets here.' %}
        </span>
    </h2>
    {% if message %}
    <small class="badge badge-success">
        {% trans 'Target added successfully !' %}
    </small>
    {% endif %}
    <div id='target-form' class="col-12 col-lg-4 mx-auto my-2">

        <form method='POST' autocomplete="off">{% csrf_token %}
            <input name="create" type="hidden" value="">
            {{ target_form|crispy }}
            <button onclick="this.disabled=true;this.form.submit();" class="btn btn-block btn-ocean my-2">{% trans 'Create' %}</button>
        </form>
    </div>
    <table class="table table-bordered col-6 mx-auto mt-5">
        <thead>
            <tr>
                <th scope="col">{% trans 'Remove' %}</th>
                <th scope="col">{% trans 'Target' %}</th>
                <th scope="col">{% trans 'Orders Number' %}</th>
            </tr>
        </thead>
        <tbody>

            {% for target, number in query %}
            <tr>
                <th>
                    <form method="POST" action="{% url 'base:planer_delete_target' instance.id target.id %}?page={{ query.number}}&mode={{mode}}">
                        {% csrf_token %}

                        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-outline-danger">{% trans 'Delete' %}</button>
                    </form>
                    
                </th>
                <th class="front-{{target.fake}}">

                    <div class="d-flex justify-content-center">
                        <h5>
                            <span class="badge badge-pill badge-info">
                                {{target.player}}
                            </span>
                        </h5>
                    </div>
                    <div class="d-flex justify-content-center">

                        <h5>
                            <span class="badge badge badge-secondary">
                                {{target.target}}
                            </span>
                        </h5>

                    </div>
                    {% if target.fake %}
                    <div class="d-flex justify-content-center">

                        <h5 style="color: teal;" class="font-italic">
                            Fake
                        </h5>
                    </div>
                    {% endif %}

                </th>

                <th>
                    {{ number }}
                </th>


            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.popoverData').popover();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      scroll_content_outline();
</script>

{% endblock %}