{% extends "base/new_outline/new_outline_initial_period2.html" %}
{% load static %}
{% load i18n %}
{% block content %}


<div class="container-fluid md-pre">
    <form action="{% url 'base:planer_output' instance.id %}" method="POST">
        <div class="row justify-content-center mb-3">

            {% csrf_token %}
            <button class="btn btn-info btn-block">{% trans 'Confirm an outline and Exit' %}</button>

        </div>
    </form>
    <div class="row">
        <div class="col-7">
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"
                integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA=="
                crossorigin="anonymous"></script>
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css"
                integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg=="
                crossorigin="anonymous" />
            <script src="https://use.fontawesome.com/0cd1dfa084.js"></script>

            <form method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                <div class="form-row mb-2">
                    <div class="col-md-2"><label>{% trans 'Mode' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'Unit' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'Min. time' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'Max. time' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'From' %}</label></div>
                    <div class="col-md-2"><label>{% trans 'To' %}</label></div>

                </div>
                {% for form in formset %}

                <div class="form-row mb-2">
                        {% for field in form %}

                        <div class="col-md-2">
                            {{field}}
                        </div>
                        {% endfor %}

                </div>
                 {% endfor %} 
                 {% if formset.non_form_errors %} 
                 <div class="md-error mb-2">
                     {% for error in formset.non_form_errors %} 
                     {{error}} 
                     {% endfor %}
 
         </div>
         {% endif %}
        <button class="btn btn-primary mb-5" name='formset' type="submit">{% trans 'Create' %}</button>

        </form>
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                val = $('#id_form-0-status').val();
                if (val === 'all') {
                    $('#id_form-0-from_number').val('');
                    $('#id_form-0-from_number').prop("disabled", true);

                    $('#id_form-0-to_number').val('');
                    $('#id_form-0-to_number').prop("disabled", true);

                } else if (val === 'exact') {
                    $('#id_form-0-from_number').val('');
                    $('#id_form-0-from_number').prop("disabled", true);

                    $('#id_form-0-to_number').prop("disabled", false);

                };

                val = $('#id_form-1-status').val();
                if (val === 'all') {
                    $('#id_form-1-from_number').val('');
                    $('#id_form-1-from_number').prop("disabled", true);

                    $('#id_form-1-to_number').val('');
                    $('#id_form-1-to_number').prop("disabled", true);

                } else if (val === 'exact') {
                    $('#id_form-1-from_number').val('');
                    $('#id_form-1-from_number').prop("disabled", true);

                    $('#id_form-1-to_number').prop("disabled", false);

                };

                val = $('#id_form-2-status').val();
                if (val === 'all') {
                    $('#id_form-2-from_number').val('');
                    $('#id_form-2-from_number').prop("disabled", true);

                    $('#id_form-2-to_number').val('');
                    $('#id_form-2-to_number').prop("disabled", true);

                } else if (val === 'exact') {
                    $('#id_form-2-from_number').val('');
                    $('#id_form-2-from_number').prop("disabled", true);

                    $('#id_form-2-to_number').prop("disabled", false);

                };

                val = $('#id_form-3-status').val();
                if (val === 'all') {
                    $('#id_form-3-from_number').val('');
                    $('#id_form-3-from_number').prop("disabled", true);

                    $('#id_form-3-to_number').val('');
                    $('#id_form-3-to_number').prop("disabled", true);

                } else if (val === 'exact') {
                    $('#id_form-3-from_number').val('');
                    $('#id_form-3-from_number').prop("disabled", true);

                    $('#id_form-3-to_number').prop("disabled", false);

                };

                val = $('#id_form-4-status').val();
                if (val === 'all') {
                    $('#id_form-4-from_number').val('');
                    $('#id_form-4-from_number').prop("disabled", true);

                    $('#id_form-4-to_number').val('');
                    $('#id_form-4-to_number').prop("disabled", true);

                } else if (val === 'exact') {
                    $('#id_form-4-from_number').val('');
                    $('#id_form-4-from_number').prop("disabled", true);

                    $('#id_form-4-to_number').prop("disabled", false);

                };

                val = $('#id_form-5-status').val();
                if (val === 'all') {
                    $('#id_form-5-from_number').val('');
                    $('#id_form-5-from_number').prop("disabled", true);

                    $('#id_form-5-to_number').val('');
                    $('#id_form-5-to_number').prop("disabled", true);

                } else if (val === 'exact') {
                    $('#id_form-5-from_number').val('');
                    $('#id_form-5-from_number').prop("disabled", true);

                    $('#id_form-5-to_number').prop("disabled", false);

                };
            });

            document.addEventListener("DOMContentLoaded", function (event) {
                $('.time-timepicker').each(function () {
                    $(this).timepicker({
                        minuteStep: 1,
                        secondStep: 1,
                        showSeconds: true,
                        showMeridian: false,
                        defaultTime: false,
                        icons: {
                            up: 'fa fa-angle-up',
                            down: 'fa fa-angle-down'
                        }
                    })
                });

                $('#id_form-0-status').change(function () {
                    val = $('#id_form-0-status').val();
                    if (val === 'all') {
                        $('#id_form-0-from_number').val('');
                        $('#id_form-0-from_number').prop("disabled", true);

                        $('#id_form-0-to_number').val('');
                        $('#id_form-0-to_number').prop("disabled", true);

                    } else if (val === 'exact') {
                        $('#id_form-0-from_number').val('');
                        $('#id_form-0-from_number').prop("disabled", true);

                        $('#id_form-0-to_number').prop("disabled", false);

                    } else {
                        $('#id_form-0-from_number').prop("disabled", false);

                        $('#id_form-0-to_number').prop("disabled", false);

                    };
                });
                $('#id_form-1-status').change(function () {
                    val = $('#id_form-1-status').val();
                    if (val === 'all') {
                        $('#id_form-1-from_number').val('');
                        $('#id_form-1-from_number').prop("disabled", true);

                        $('#id_form-1-to_number').val('');
                        $('#id_form-1-to_number').prop("disabled", true);

                    } else if (val === 'exact') {
                        $('#id_form-1-from_number').val('');
                        $('#id_form-1-from_number').prop("disabled", true);

                        $('#id_form-1-to_number').prop("disabled", false);

                    } else {
                        $('#id_form-1-from_number').prop("disabled", false);

                        $('#id_form-1-to_number').prop("disabled", false);

                    };
                });
                $('#id_form-2-status').change(function () {
                    val = $('#id_form-2-status').val();
                    if (val === 'all') {
                        $('#id_form-2-from_number').val('');
                        $('#id_form-2-from_number').prop("disabled", true);

                        $('#id_form-2-to_number').val('');
                        $('#id_form-2-to_number').prop("disabled", true);

                    } else if (val === 'exact') {
                        $('#id_form-2-from_number').val('');
                        $('#id_form-2-from_number').prop("disabled", true);

                        $('#id_form-2-to_number').prop("disabled", false);

                    } else {
                        $('#id_form-2-from_number').prop("disabled", false);

                        $('#id_form-2-to_number').prop("disabled", false);

                    };
                });
                $('#id_form-3-status').change(function () {
                    val = $('#id_form-3-status').val();
                    if (val === 'all') {
                        $('#id_form-3-from_number').val('');
                        $('#id_form-3-from_number').prop("disabled", true);

                        $('#id_form-3-to_number').val('');
                        $('#id_form-3-to_number').prop("disabled", true);

                    } else if (val === 'exact') {
                        $('#id_form-3-from_number').val('');
                        $('#id_form-3-from_number').prop("disabled", true);

                        $('#id_form-3-to_number').prop("disabled", false);

                    } else {
                        $('#id_form-3-from_number').prop("disabled", false);

                        $('#id_form-3-to_number').prop("disabled", false);

                    };
                });
                $('#id_form-4-status').change(function () {
                    val = $('#id_form-4-status').val();
                    if (val === 'all') {
                        $('#id_form-4-from_number').val('');
                        $('#id_form-4-from_number').prop("disabled", true);

                        $('#id_form-4-to_number').val('');
                        $('#id_form-4-to_number').prop("disabled", true);

                    } else if (val === 'exact') {
                        $('#id_form-4-from_number').val('');
                        $('#id_form-4-from_number').prop("disabled", true);

                        $('#id_form-4-to_number').prop("disabled", false);

                    } else {
                        $('#id_form-4-from_number').prop("disabled", false);

                        $('#id_form-4-to_number').prop("disabled", false);

                    };
                });
                $('#id_form-5-status').change(function () {
                    val = $('#id_form-5-status').val();
                    if (val === 'all') {
                        $('#id_form-5-from_number').val('');
                        $('#id_form-5-from_number').prop("disabled", true);

                        $('#id_form-5-to_number').val('');
                        $('#id_form-5-to_number').prop("disabled", true);

                    } else if (val === 'exact') {
                        $('#id_form-5-from_number').val('');
                        $('#id_form-5-from_number').prop("disabled", true);

                        $('#id_form-5-to_number').prop("disabled", false);

                    } else {
                        $('#id_form-5-from_number').prop("disabled", false);

                        $('#id_form-5-to_number').prop("disabled", false);

                    };
                });





            });
        </script>
    </div>


    <div class="col-5">

        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            {% for time in outline_time %}
            <li class="nav-item">
                {% if forloop.counter == 1 %}
                <a class="nav-link active" id="pills-{{time.order}}" data-toggle="pill" href="#{{time.order}}"
                    role="tab" aria-controls="pills-{{time.order}}" aria-selected="true">{{time.order}}</a>
                {% else %}
                <a class="nav-link" id="pills-{{time.order}}" data-toggle="pill" href="#{{time.order}}" role="tab"
                    aria-controls="pills-{{time.order}}" aria-selected="false">{{time.order}}</a> {% endif %}
            </li>
            {% endfor %}
        </ul>

        <div class="tab-content" id="pills-tabContent">

            {% for time, periodmodel in outline_time.items %}

            {% if forloop.counter == 1 %}
            <div class="tab-pane fade show active" id="{{time.order}}" role="tabpanel"
                aria-labelledby="pills-{{time.order}}">
                {% else %}
                <div class="tab-pane fade show" id="{{time.order}}" role="tabpanel"
                    aria-labelledby="pills-{{time.order}}">
                    {% endif %}
                    <table class="table table-sm ">
                        <thead>
                            <tr>
                                <th scope="col">{% trans 'Mode' %}</th>
                                <th scope="col">{% trans 'Unit' %}</th>
                                <th scope="col">{% trans 'From' %}</th>
                                <th scope="col">{% trans 'To' %}</th>
                                <th scope="col">{% trans 'Min. time' %}</th>
                                <th scope="col">{% trans 'Max. time' %}</th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for period in periodmodel %}
                            <tr>
                                <th>{{period.get_status_display}}</th>
                                <th>{{period.get_unit_display}}</th>
                                <th>{%if period.from_number != None %}
                                    {{period.from_number}}
                                    {% endif %}</th>
                                <th>{%if period.to_number != None %}
                                    {{period.to_number}}
                                    {% endif %}</th>
                                <th>{{period.from_time|safe}}</th>
                                <th>{{period.to_time|safe}}</th>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                    <form method="post"
                        action="{% url 'base:planer_delete_time' time.pk %}?page={{ page_obj.number}}&mode={{mode}}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger">{% trans 'Delete' %}</button>
                    </form>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

<nav aria-label="pagination" id="pagination" class="mt-3">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ page_obj.previous_page_number }}&mode={{ mode }}">{% trans 'Previous' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">{% trans 'Previous' %}</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link">{{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&mode={{ mode }}">{% trans 'Next' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">{% trans 'Next' %}</a>
        </li>
        {% endif %}
        <li class="page-item ml-1">
            {% if mode == 'menu' %}
            <a href="?page={{ page_obj.number }}&mode=menu" class="page-link paint" data-toggle="tooltip"
                data-placement="top" title="{% trans 'Set real targets' %}"><svg width="1.2em" height="1.2em"
                    viewBox="0 0 16 16" class="bi bi-menu-button-wide-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm9.927.427l.396.396a.25.25 0 0 0 .354 0l.396-.396A.25.25 0 0 0 13.396 2h-.792a.25.25 0 0 0-.177.427z" />
                </svg></a> {% else %}
            <a href="?page={{ page_obj.number }}&mode=menu" class="page-link" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set real targets' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-menu-button-wide-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm9.927.427l.396.396a.25.25 0 0 0 .354 0l.396-.396A.25.25 0 0 0 13.396 2h-.792a.25.25 0 0 0-.177.427z" />
                </svg></a> {% endif %}

        </li>

        <li class="page-item">
            {% if mode == 'fake' %}
            <a href="?page={{ page_obj.number }}&mode=fake" class="page-link paint" data-toggle="tooltip"
                data-placement="top" title="{% trans 'Set fake targets' %}">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                    viewBox="0 0 782.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                    <metadata>
                        Created by potrace 1.15, written by Peter Selinger 2001-2017
                    </metadata>
                    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="currentColor"
                        stroke="none">
                        <path d="M3285 12355 c-1364 -244 -2500 -449 -2525 -455 -25 -6 -85 -31 -135
                            -55 -336 -163 -584 -568 -621 -1012 -3 -43 -1 -404 5 -803 12 -772 25 -1614
                            41 -2740 6 -382 15 -1001 20 -1375 25 -1645 50 -3398 55 -3850 7 -582 16 -737
                            49 -868 64 -251 213 -457 404 -555 42 -22 358 -168 702 -325 436 -199 647
                            -290 697 -301 503 -112 1026 413 1078 1084 4 47 2 375 -4 730 -26 1582 -43
                            2931 -37 2937 4 4 769 143 1701 310 1322 236 1710 308 1763 329 119 48 202
                            104 308 209 233 230 363 530 381 885 19 371 -130 722 -375 883 -37 25 -218
                            113 -402 197 -184 84 -482 219 -662 301 -188 86 -355 156 -395 165 -123 29
                            -195 19 -1304 -180 -570 -102 -1043 -186 -1051 -186 -12 0 -16 126 -26 846 -7
                            466 -10 849 -7 852 3 3 920 168 2037 368 1231 220 2065 373 2113 388 271 87
                            525 362 644 699 143 405 88 855 -138 1140 -57 72 -151 151 -221 187 -19 10
                            -323 149 -675 310 -394 180 -669 299 -714 311 -43 11 -106 19 -150 18 -54 0
                            -807 -131 -2556 -444z" />
                    </g>
                </svg>
            </a>
            {% else %}
            <a href="?page={{ page_obj.number }}&mode=fake" class="page-link" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set fake targets' %}">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                    viewBox="0 0 782.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                    <metadata>
                        Created by potrace 1.15, written by Peter Selinger 2001-2017
                    </metadata>
                    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="currentColor"
                        stroke="none">
                        <path d="M3285 12355 c-1364 -244 -2500 -449 -2525 -455 -25 -6 -85 -31 -135
                            -55 -336 -163 -584 -568 -621 -1012 -3 -43 -1 -404 5 -803 12 -772 25 -1614
                            41 -2740 6 -382 15 -1001 20 -1375 25 -1645 50 -3398 55 -3850 7 -582 16 -737
                            49 -868 64 -251 213 -457 404 -555 42 -22 358 -168 702 -325 436 -199 647
                            -290 697 -301 503 -112 1026 413 1078 1084 4 47 2 375 -4 730 -26 1582 -43
                            2931 -37 2937 4 4 769 143 1701 310 1322 236 1710 308 1763 329 119 48 202
                            104 308 209 233 230 363 530 381 885 19 371 -130 722 -375 883 -37 25 -218
                            113 -402 197 -184 84 -482 219 -662 301 -188 86 -355 156 -395 165 -123 29
                            -195 19 -1304 -180 -570 -102 -1043 -186 -1051 -186 -12 0 -16 126 -26 846 -7
                            466 -10 849 -7 852 3 3 920 168 2037 368 1231 220 2065 373 2113 388 271 87
                            525 362 644 699 143 405 88 855 -138 1140 -57 72 -151 151 -221 187 -19 10
                            -323 149 -675 310 -394 180 -669 299 -714 311 -43 11 -106 19 -150 18 -54 0
                            -807 -131 -2556 -444z" />
                    </g>
                </svg>
            </a>
            {% endif %}
        </li>

        <li class="page-item">
            {% if mode == 'time' %}
            <a href="?page={{ page_obj.number }}&mode=time" class="page-link paint" data-toggle="tooltip"
                data-placement="top" title="{% trans 'Set time and confirm' %}"><svg width="1.2em" height="1.2em"
                    viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                    <path fill-rule="evenodd"
                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                </svg></a> {% else %}
            <a href="?page={{ page_obj.number }}&mode=time" class="page-link" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set time and confirm' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                    <path fill-rule="evenodd"
                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                </svg></a> {% endif %}
        </li>


    </ul>
</nav>

<form method="POST">
    {% csrf_token %} {{ choice_formset.management_form }}
    <div class="row">
        <div class="col-4">
            <button type="submit" name="choice-formset"
                class="btn btn-outline-info btn-block mb-2">{% trans 'Confirm selected' %}
            </button>
        </div>
    </div>

    <div class="conatiner-fluid" style=" height: calc(80vh) !important; overflow-y:scroll !important;">
        <table class="table table-sm table-bordered" style="width:min-content">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Selected' %}</th>
                    <th scope="col">{% trans 'Target' %}</th>
                    <th scope="col">{% trans 'Select Time' %}</th>
                    <th colspan="50" scope="colgroup">{% trans 'Outline' %}</th>
                </tr>
            </thead>
            <tbody>

                {% for target, lst in page_obj %}
                <tr>
                    <th>
                        <div class="row justify-content-center">
                            <h4>
                                <span class="badge badge-primary">{{target.outline_time.order}}</span>
                            </h4>
                        </div>

                    </th>
                    <th>



                        <div class="d-flex justify-content-center">
                            <h5>
                                <span class="badge badge-pill badge-info">
                                    {{target.player}}
                                </span>
                            </h5>
                        </div>
                        <div class="d-flex justify-content-center">

                            <h5>
                                <span class="badge badge badge-secondary">
                                    {{target.target}}
                                </span>
                            </h5>

                        </div>



                    </th>


                    <th style="min-width: 13vh !important;">
                        {{target.form.choice}}
                    </th>

                    {% for weight in lst %}
                    <th class="front-{{weight.first_line}}">
                        <div class="popoverData" data-html="true"
                            data-content="<h4><span class='badge badge-pill badge-info'>{{weight.player}}</span></h4><div class='d-flex justify-content-center'><h5><span class='badge badge badge-secondary'>{{weight.start}}</span></h5></div>"
                            rel="popover" data-placement="top" data-trigger="hover">

                            <table class="table table-sm">
                                <tr>
                                    <th>
                                        <img src='{% static "images/ax.png" %}' alt="ax">
                                    </th>
                                    <th style="font-size: small;">
                                        {{weight.off}}
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        <img src='{% static "images/nobleman.png" %}' alt="ax">
                                    </th>
                                    <th style="font-size: small;">
                                        {{weight.nobleman}}
                                    </th>

                                </tr>
                                <tr>
                                    <th>
                                        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-signpost"
                                            fill="#6c757d" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" />
                                            <path fill-rule="evenodd"
                                                d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" />
                                            <path d="M7 10h2v6H7v-6z" />
                                        </svg>
                                    </th>
                                    <th style="font-size: small;">
                                        {{weight.distance}}
                                    </th>

                                </tr>


                            </table>





                    </th>

                    {% endfor %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</form>

</div>
{% if error != None %}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-white bg-danger">
            <div class="modal-header">
                <h5 class="modal-title">{{error}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.bd-example-modal-lg').modal('show');


    });
</script>

{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.popoverData').popover();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>


{% endblock %}