{% extends "base/new_outline/new_outline_initial_period2.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
    <figure class="col-2">
        <img src='{% static "images/knight-2.jpg" %}' alt="knight" class="img-fluid">
    </figure>
    <div class="col-8">
        <div class="d-flex flex-column justify-content-center h-100">
            <div class="d-flex flex-row justify-content-center">
                <h2>
                    <span class="badge badge-pill badge-info">
                        {{instance.name}}
                    </span>
                </h2>
            </div>

            <div class="d-flex flex-row justify-content-center">
                <h2>
                    <span class="badge badge-pill badge-info">
                        {{instance.date}}
                    </span>
                </h2>
            </div>

            <div class="row justify-content-center">

                <div>
                    <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal"
                        data-target="#ValidationModal">
                        <b>{% trans 'Go back' %}</b>
                    </button>
                </div>

                <div class="modal fade" id="ValidationModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ValidationModalTitle">{% trans 'Warning' %}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% blocktrans %} Current progress will be
                                <div class="md-error">LOST!</div>
                                <br>You will return to the previous form. {% endblocktrans %}

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal"><b>{% trans 'Close' %}</b></button>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button name="form1" type="submit" class="btn btn-primary">
                                        {% trans 'Continue' %}
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <figure class="col-2">
        <img src='{% static "images/knight-2.jpg" %}' alt="knight" class="img-fluid">
    </figure>
</div>
<nav aria-label="pagination" id="pagination" class="mt-3">
    <ul class="pagination">
        {% if query.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ query.previous_page_number }}&mode={{ mode }}&player={{player}}">{% trans 'Previous' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">{% trans 'Previous' %}</a>
        </li>
        {% endif %}
        <li class="page-item disabled">
            <a class="page-link">{{ query.number }} {% trans 'of' %} {{ query.paginator.num_pages }}</a>
        </li>
        {% if query.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ query.next_page_number }}&mode={{ mode }}&player={{player}}">{% trans 'Next' %}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">{% trans 'Next' %}</a>
        </li>
        {% endif %}
        <li class="page-item ml-1">
            {% if mode == 'add_and_remove' %}
            <a href="?page=1&mode=add_and_remove" class="page-link paint" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Add and remove targets' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg></a>
            {% else %}
            <a href="?page=1&mode=add_and_remove" class="page-link" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Add and remove targets' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg></a>
            {% endif %}
        </li>
        <li class="page-item">
            {% if mode == 'menu' %}
            <a href="?page=1&mode=menu" class="page-link paint" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set real targets' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-menu-button-wide-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm9.927.427l.396.396a.25.25 0 0 0 .354 0l.396-.396A.25.25 0 0 0 13.396 2h-.792a.25.25 0 0 0-.177.427z" />
                </svg></a> {% else %}
            <a href="?page=1&mode=menu" class="page-link" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set real targets' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-menu-button-wide-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M14 7H2a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1zM2 6a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2H2z" />
                    <path fill-rule="evenodd"
                        d="M15 11H1v-1h14v1zM2 12.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm9.927.427l.396.396a.25.25 0 0 0 .354 0l.396-.396A.25.25 0 0 0 13.396 2h-.792a.25.25 0 0 0-.177.427z" />
                </svg></a> {% endif %}

        </li>

        <li class="page-item">
            {% if mode == 'fake' %}
            <a href="?page=1&mode=fake" class="page-link paint" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set fake targets' %}">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                    viewBox="0 0 782.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                    <metadata>
                        Created by potrace 1.15, written by Peter Selinger 2001-2017
                    </metadata>
                    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="currentColor"
                        stroke="none">
                        <path d="M3285 12355 c-1364 -244 -2500 -449 -2525 -455 -25 -6 -85 -31 -135
                        -55 -336 -163 -584 -568 -621 -1012 -3 -43 -1 -404 5 -803 12 -772 25 -1614
                        41 -2740 6 -382 15 -1001 20 -1375 25 -1645 50 -3398 55 -3850 7 -582 16 -737
                        49 -868 64 -251 213 -457 404 -555 42 -22 358 -168 702 -325 436 -199 647
                        -290 697 -301 503 -112 1026 413 1078 1084 4 47 2 375 -4 730 -26 1582 -43
                        2931 -37 2937 4 4 769 143 1701 310 1322 236 1710 308 1763 329 119 48 202
                        104 308 209 233 230 363 530 381 885 19 371 -130 722 -375 883 -37 25 -218
                        113 -402 197 -184 84 -482 219 -662 301 -188 86 -355 156 -395 165 -123 29
                        -195 19 -1304 -180 -570 -102 -1043 -186 -1051 -186 -12 0 -16 126 -26 846 -7
                        466 -10 849 -7 852 3 3 920 168 2037 368 1231 220 2065 373 2113 388 271 87
                        525 362 644 699 143 405 88 855 -138 1140 -57 72 -151 151 -221 187 -19 10
                        -323 149 -675 310 -394 180 -669 299 -714 311 -43 11 -106 19 -150 18 -54 0
                        -807 -131 -2556 -444z" />
                    </g>
                </svg>
            </a>
            {% else %}
            <a href="?page=1&mode=fake" class="page-link" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set fake targets' %}">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em"
                    viewBox="0 0 782.000000 1280.000000" preserveAspectRatio="xMidYMid meet">
                    <metadata>
                        Created by potrace 1.15, written by Peter Selinger 2001-2017
                    </metadata>
                    <g transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)" fill="currentColor"
                        stroke="none">
                        <path d="M3285 12355 c-1364 -244 -2500 -449 -2525 -455 -25 -6 -85 -31 -135
                        -55 -336 -163 -584 -568 -621 -1012 -3 -43 -1 -404 5 -803 12 -772 25 -1614
                        41 -2740 6 -382 15 -1001 20 -1375 25 -1645 50 -3398 55 -3850 7 -582 16 -737
                        49 -868 64 -251 213 -457 404 -555 42 -22 358 -168 702 -325 436 -199 647
                        -290 697 -301 503 -112 1026 413 1078 1084 4 47 2 375 -4 730 -26 1582 -43
                        2931 -37 2937 4 4 769 143 1701 310 1322 236 1710 308 1763 329 119 48 202
                        104 308 209 233 230 363 530 381 885 19 371 -130 722 -375 883 -37 25 -218
                        113 -402 197 -184 84 -482 219 -662 301 -188 86 -355 156 -395 165 -123 29
                        -195 19 -1304 -180 -570 -102 -1043 -186 -1051 -186 -12 0 -16 126 -26 846 -7
                        466 -10 849 -7 852 3 3 920 168 2037 368 1231 220 2065 373 2113 388 271 87
                        525 362 644 699 143 405 88 855 -138 1140 -57 72 -151 151 -221 187 -19 10
                        -323 149 -675 310 -394 180 -669 299 -714 311 -43 11 -106 19 -150 18 -54 0
                        -807 -131 -2556 -444z" />
                    </g>
                </svg>
            </a>
            {% endif %}
        </li>

        <li class="page-item">
            {% if mode == 'time' %}
            <a href="?page=1&mode=time" class="page-link paint" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set time and confirm' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                    <path fill-rule="evenodd"
                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                </svg></a> {% else %}
            <a href="?page=1&mode=time" class="page-link" data-toggle="tooltip" data-placement="top"
                title="{% trans 'Set time and confirm' %}"><svg width="1.2em" height="1.2em" viewBox="0 0 16 16"
                    class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z" />
                    <path fill-rule="evenodd"
                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                </svg></a> {% endif %}
        </li>



    </ul>
</nav>

<div class="conatiner-fluid text-center" id='leftscroll'>
    <h2 class="my-4">
        <span>
            {% trans "Before proceeding, you may want to set up players' troops manually." %}
        </span>
    </h2>

    <a class="btn btn-ocean btn-block btn-lg"
        href="{% url 'base:planer_complete' instance.id %}">{% trans 'Proceed forward, hint: If there is any target, it will be deleted' %}</a>
        <h6 class="my-1">
            <span>
                {% trans "If you skip clicking the button above, the orders will not be automatically written!!!" %}
            </span>
        </h6>
    <div class="form-group col-6 mx-auto mt-5">
        <form method="GET">
            <input name=page type="hidden" value="{{query.number}}" />
            <input name=mode type="hidden" value="{{mode}}" />
            <label for="exampleFormControlSelect1">{% trans 'Select player' %}</label>
            <select name="player" class="form-control" id="exampleFormControlSelect1">
                <option value="None">{% trans 'All players' %}</option>
                {% for player in players %}
                <option>{{player}}</option>
                {% endfor %}
            </select>


            <button type="submit" class="w-20 mt-2 btn btn-primary">OK</button>
        </form>
    </div>
    <table class="table table-bordered col-6 mx-auto mt-5">
        <thead>
            <tr>

                <th scope="col" rowspan="2">{% trans 'Number' %}</th>
                <th scope="col" rowspan="2">{% trans 'Player' %}</th>
                <th scope="col" rowspan="2">{% trans 'Village' %}</th>
                <th scope="colgroup" colspan="2">{% trans 'Troops in village' %}
                    <span class="ml-1 popoverData" data-html="true"
                        data-content="{% trans 'Troops directly in village now, from collect deff troops script' %}"
                        rel="popover" data-placement="top" data-trigger="hover">
                        <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-question-circle"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                        </svg>
                    </span>
                </th>
                <th scope="colgroup" colspan="2">{% trans 'Troops in database' %}
                    <span class="ml-1 popoverData" data-html="true"
                    data-content="{% trans 'By default, these are troops taken from the offs collection, which means that they are all units, even on the way and from outside the village' %}"
                    rel="popover" data-placement="top" data-trigger="hover">
                    <svg width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-question-circle"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                    </svg>
                </span>
                </th>
                <th scope="col" rowspan="2">{% trans 'Save changes' %}</th>
            </tr>
            <tr>
                <th scope="col">{% trans 'Off' %}</th>
                <th scope="col">{% trans 'Nobles' %}</th>
                <th scope="col">{% trans 'Off' %}</th>
                <th scope="col">{% trans 'Nobles' %}</th>
            </tr>
        </thead>
        <tbody>

            {% for weight in query %}
            <tr>
                <th>{{forloop.counter}}</th>
                <th><span class="badge badge-pill badge-info">{{weight.player}}</span></th>
                <th><span class="badge badge-secondary">{{weight.start}}</span></th>
                <th>
                    {{weight.off_in_village|default_if_none:'Brak danych'}}
                </th>
                <th>
                    {{weight.nobleman_in_village|default_if_none:'Brak danych'}}
                </th>
                <form method="POST"
                    action="{% url 'base:planer_change_weight' instance.id weight.id %}?mode={{mode}}&page={{query.number}}&player={{player}}">
                    {% csrf_token %}
                    <th style="border-left: 4px solid teal; min-width: 25vh">
                        <input name="off" class="form-control" min="0" type="number" value="{{weight.off_max}}" />
                    </th>
                    <th style="min-width: 20vh;">
                        <input name="noble" class="form-control" min="0" type="number"
                            value="{{weight.nobleman_max}}" />

                    </th>
                    <th>
                        <button type="submit" class="btn btn-outline-success">{% trans 'Save' %}</button>
                    </th>
                </form>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('.popoverData').popover();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    scroll_content_outline();
</script>

{% endblock %}