{% extends "base/new_outline/new_outline.html" %} {% block content %} {% load static %} {% load i18n %}
<script src="{% static 'codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'codemirror.css' %}">
<div class="row my-2">
    <div class="col-12 col-lg-6 h-100 d-flex sticky-top">
        <div class="mt-2">
        <form method='POST'>{% csrf_token %}
                {{ form1.target.label_tag }} 
                {{ form1.target }} 
                {% if form1.target.errors %}
                 {% for error in form1.target.errors %} {% if forloop.first %}
                
                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        $('.CodeMirror').addClass('CodeMirror-Invalid');
                        codemirror = $('.CodeMirror');
                        var codeMirrorEditor = codemirror[0].CodeMirror;
                        codeMirrorEditor.addLineClass(parseInt('{{error}}'), 'wrap', 'line-error');
                        codeMirrorEditor.scrollIntoView(parseInt('{{error}}'));
                    });
                </script>
                {% else %}
                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        codemirror = $('.CodeMirror');
                        var codeMirrorEditor = codemirror[0].CodeMirror;
                        codeMirrorEditor.addLineClass(parseInt('{{error}}'), 'wrap', 'line-error');
                    });
                </script>
                {% endif %} {% endfor %}
                <div class="error-text">
                    <p>{% trans 'Incorrect data in' %} {{form1.target.errors|length}} {% trans 'lines.' %}
                        <a href="{% url 'base:documentation' %}#errors"> {% trans 'Why an error appeared?' %}</a>
                    </p>
                    <p>{% trans '*After clicking submit you will be transferred to first error*' %}</p>
                </div>

                {% endif %} {% if form1.target.errors|length == 0 %} {% for error in form1.errors %}
                <div class="error-text mb-3">
                    {% trans 'The text cannot be empty' %}
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        $('.CodeMirror').addClass('CodeMirror-Invalid');
                    });
                </script>
                {% endfor %} {% endif %}
                <div class="mt-3">{{ form1.min_off.label_tag }} {{ form1.min_off }}
                    <small id="emailHelp" class="form-text text-muted">{% trans 'Only villages with off units greater than this number will be taken into account in auto outline write.' %}</small>
                </div>
                <div class="mt-3">{{ form1.front_dist.label_tag }} {{ form1.front_dist }}
                    <small id="emailHelp" class="form-text text-muted">{% trans 'Villages CLOSER than this number of squares to ANY enemy village will be marked as "Front" and not auto used.' %}</small>
                </div>
                
                <button class="btn btn-primary mt-3 " name="form1" type="submit">{% trans 'Submit' %}</button>
           
            

            

        </form>
    </div>
    </div>



    <div class="col-12 col-lg-6">
        <div class="container-fluid md-pre h-100">
            <ul class="nav nav-pills mb-3 mt-1" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-opis" role="tab" aria-controls="pills-home" aria-selected="true">{% trans 'Info' %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-przyklady" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans 'Examples' %}</a>
                </li>
            </ul>
            <div class="tab-content font-nav" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-opis" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{info|safe}}
                </div>

                <div class="tab-pane fade" id="pills-przyklady" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {{example|safe}}
                </div>
            </div>
        </div>
    </div>



    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("id_target"), {
            lineNumbers: true,
        });
    </script>

</div>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
{% endblock %}