{% extends "base/new_outline/new_outline_initial_period2.html" %}

{% load static %}
{% load i18n %}

    {% block content %}

    <div class="row">
        <figure class="col-2">
            <img class="d-none d-lg-flex img-fluid" src='{% static "images/knight-2.jpg" %}' alt="knight">
        </figure>
        <div class="col-8">
            <div class="d-flex flex-column justify-content-center h-100">
                <div class="d-flex flex-row justify-content-center">
                    <h2>
                        <span class="badge badge-pill badge-info">
                            {{instance.name}}
                        </span>
                    </h2>
                </div>

                <div class="d-flex flex-row justify-content-center">
                    <h2>
                        <span class="badge badge-pill badge-info">
                            {{instance.date}}
                        </span>
                    </h2>
                </div>

                <div class="row justify-content-center">

                    <div>
                        <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal"
                            data-target="#ValidationModal">
                            <b>{% trans 'Go back' %}</b>
                        </button>
                    </div>

                    <div class="modal fade" id="ValidationModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ValidationModalTitle">{% trans 'Warning' %}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% blocktrans %} Current progress will be
                                    <div class="md-error">LOST!</div>
                                    <br>You will return to the previous form. {% endblocktrans %}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal"><b>{% trans 'Close' %}</b></button>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <button name="form1" type="submit" class="btn btn-primary">
                                            {% trans 'Continue' %}
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>









                </div>

            </div>
        </div>
        <figure class="col-2">
            <img class="d-none d-lg-block img-fluid" src='{% static "images/knight-2.jpg" %}' alt="knight" >
        </figure>
    </div>
    <div class="table-responsive">
    {% block outline_navbar %}
    {{block.super}}
    {% endblock %}

    <div class="conatiner-fluid" style="width: min-content;">

        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Fake Target' %}</th>
                    <th colspan="50" scope="colgroup">{% trans 'Fake Outline' %}</th>
                </tr>
            </thead>
            <tbody>

                {% for target, lst in query %}
                <tr>

                    <th>



                        <div class="d-flex justify-content-center">
                            <h5>
                                <span class="badge badge-pill badge-info">
                                    {{target.player}}
                                </span>
                            </h5>
                        </div>
                        <div class="d-flex justify-content-center">

                            <h5>
                                <span class="badge badge badge-secondary">
                                    {{target.target}}
                                </span>
                            </h5>

                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>
                                <a target="_blank" href="{{target.get_absolute_url}}"
                                    class="btn btn-sm btn-outline-info">
                                    {% trans 'Edit' %}
                                </a>
                            </h5>
                        </div>



                    </th>

                    {% for weight in lst %}

                    <th class="front-{{weight.first_line}}">
                        <div class="popoverData" data-html="true"
                            data-content="<h4><span class='badge badge-pill badge-info'>{{weight.player}}</span></h4><div class='d-flex justify-content-center'><h5><span class='badge badge badge-secondary'>{{weight.start}}</span></h5></div>"
                            rel="popover" data-placement="top" data-trigger="hover">
                            <table class="table table-sm">
                                    <tr>
                                        <th>
                                            <img src='{% static "images/ax.png" %}' alt="ax">
                                        </th>
                                        <th style="font-size: small;">
                                            {{weight.off}}
                                        </th>

                                    </tr>
                                    <tr>
                                        <th>
                                            <img src='{% static "images/nobleman.png" %}' alt="ax">
                                        </th>
                                        <th style="font-size: small;">
                                            {{weight.nobleman}}
                                        </th>

                                    </tr>
                                    <tr>
                                        <th>
                                            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-signpost"
                                                fill="#6c757d" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" />
                                                <path d="M7 10h2v6H7v-6z" />
                                            </svg>
                                        </th>
                                        <th style="font-size: small;">
                                            {{weight.distance}}
                                        </th>

                                    </tr>


                                </table>





                    </th>
                    {% endfor %}


                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            $('.popoverData').popover();
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
          })
    </script>

    {% endblock %}