
{% extends "base/base.html" %} 
{% load static %} 
{% load i18n %} 
{% block sidebar %}
    <a class=" list-group-item list-group-item-action
    bg-secondary" style="color: rgb(243, 243, 243);" href="{% url 'base:planer_detail' instance.id %}" role="button">{{instance.name}}</a>
    <a href="{% url 'base:planer_detail_results' instance.id %}" class="list-group-item list-group-item-action
    bg-light">{% trans 'Results' %}</a>
    <a href="{% url 'base:planer_detail_get_deff' instance.id %}" class="list-group-item list-group-item-action
    bg-light">{% trans 'Deff collection' %}</a>
    <a id="planer-link" onclick="onPlanerLinkClick(`{% trans 'Hold on a second...' %}`);" href="{% url 'base:planer_initial_form' instance.id %}" class="list-group-item list-group-item-action
    bg-light">
    {% trans 'Planer' %}
    </a>
{% endblock %} 
{% block phonesidebar %}
    <a class=" list-group-item list-group-item-action
    bg-secondary" href="{% url 'base:planer_detail' instance.id %}" role="button">{{instance.name}}</a>
    <a href="{% url 'base:planer_detail_results' instance.id %}" class="list-group-item list-group-item-action
    bg-light">{% trans 'Results' %}</a>
    <a href="{% url 'base:planer_detail_get_deff' instance.id %}" class="list-group-item list-group-item-action
    bg-light">{% trans 'Deff collection' %}</a>
    <a href="{% url 'base:planer_initial_form' instance.id %}" class="list-group-item list-group-item-action
    bg-light">
    {% trans 'Planer' %}
    </a> 
{% endblock %} 
{% block content %}
<div class="row mt-3 mb-4">
    <div class="col-12 col-lg-7">
        <div>
            <div class="p-3 mb-2 bg-light text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg> {% trans 'Last world update: ' %} {{instance.world.update}}</div>
        </div>
        
        <script src="{% static 'codemirror.js' %}"></script>
        <link rel="stylesheet" href="{% static 'codemirror.css' %}">
        
        <div class="row">
        
            <div class="col-12">
                <form method='POST'>
                    <input type="hidden" name="form-1" value="">
                    {% csrf_token %}
        
                    <div>
                        <div>
                            <h4 style="display: inline-block;" id="off-form-label">{{ form1.off_troops.label_tag }} </h4>
                            {% if message_off %}
                            <div style="display: inline-block;" id="message_off" class="alert alert-success my-0 py-0" role="alert">
                                <span style="font-size: small !important;">{% trans 'Army troops have been successfully added.' %}</span>
                            </div>
                            <script>
                                document.addEventListener("DOMContentLoaded", function(event) {
                                    const message = document.getElementById('message_off');
                                    setTimeout(() => {
                                        message.style.display = 'none';
                                    }, 2000)
                                });
                            </script>
                            {% endif %}
                        </div> 

                        {{ form1.off_troops }} 
                        {% if form1.off_troops.errors %} 
                        {% for error in form1.off_troops.errors %} 
                        {% if forloop.first %}
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                $('.cm-s-off-troops-codemirror').addClass('CodeMirror-Invalid');
                                codemirror = $('.cm-s-off-troops-codemirror');
                                var codeMirrorEditor = codemirror[0].CodeMirror;
                                codeMirrorEditor.addLineClass(parseInt('{{error}}'), 'wrap', 'line-error');
                                codeMirrorEditor.scrollIntoView(parseInt('{{error}}'));
                            });
                        </script>
                        {% else %}
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                codemirror = $('.cm-s-off-troops-codemirror');
                                var codeMirrorEditor = codemirror[0].CodeMirror;
                                codeMirrorEditor.addLineClass(parseInt('{{error}}'), 'wrap', 'line-error');
                            });
                        </script>
                        {% endif %}
                        {% endfor %}
                        <div class="error-text">
                            <p class="mb-0">{% trans 'Incorrect data in' %} {{form1.off_troops.errors|length}} {% trans 'lines.' %}</p>
                            <p class="mt-0">{% trans '*After clicking submit you will be transferred to first error*' %}</p>
                        </div>
        
                        {% endif %} 
                        {% if form1.off_troops.errors|length == 0 %} 
                        {% for error in form1.errors %}
                        <div class="error-text mb-3">
                            {% trans 'The text cannot be empty' %}.
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                $('.cm-s-off-troops-codemirror').addClass('CodeMirror-Invalid');
                            });
                        </script>
                        {% endfor %} 
                        {% endif %}
                    </div>
                    <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean my-3">{% trans 'Submit' %}
                    </button>
                </form>
            </div>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("id_off_troops"), {
                    theme: 'off-troops-codemirror',
                    lineNumbers: true,
                });
            </script>
        
            <div class="col-12">
                <form method='POST'>
                    <input type="hidden" name="form-2" value="">
                    {% csrf_token %}
        
                    <div>
                        <div>
                            <h4 style="display: inline-block;" id="deff-form-label">{{ form2.deff_troops.label_tag }}</h4>
                            {% if message_deff %}
                            <div style="display: inline-block;" id="message_deff" class="alert alert-success my-0 py-0" role="alert">
                                <span style="font-size: small !important;">{% trans 'Deff troops have been successfully added.' %}</span>
                            </div>
                            <script>
                                document.addEventListener("DOMContentLoaded", function(event) {
                                    document.getElementById('deff-form-label').scrollIntoView();
                                    const message = document.getElementById('message_deff');
                                    setTimeout(() => {
                                        message.style.display = 'none';
                                    }, 2000)
                                });
                            </script>
                            {% endif %}
                        </div>
                        {{ form2.deff_troops }} 
                        {% if form2.errors %}
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {document.getElementById('deff-form-label').scrollIntoView();});
                        </script>
                        {% endif %}
                        {% if form2.deff_troops.errors %} 
                        {% for error in form2.deff_troops.errors %} 
                        {% if forloop.first %}
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                $('.cm-s-deff-troops-codemirror').addClass('CodeMirror-Invalid');
                                codemirror = $('.cm-s-deff-troops-codemirror');
                                var codeMirrorEditor = codemirror[0].CodeMirror;
                                codeMirrorEditor.addLineClass(parseInt('{{error}}'), 'wrap', 'line-error');
                                codeMirrorEditor.scrollIntoView(parseInt('{{error}}'));
                            });
                        </script>
                        {% else %}
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                codemirror = $('.cm-s-deff-troops-codemirror');
                                var codeMirrorEditor = codemirror[0].CodeMirror;
                                codeMirrorEditor.addLineClass(parseInt('{{error}}'), 'wrap', 'line-error');
                            });
                        </script>
                        {% endif %} 
                        {% endfor %}
                        <div class="error-text mb-3">
                            <p class="mb-0">{% trans 'Incorrect data in' %} {{form2.deff_troops.errors|length}} {% trans 'lines.' %}</p>
                            <p class="mt-0">{% trans '*After clicking submit you will be transferred to first error*' %}</p>
                        </div>
        
                        {% endif %} 
                        {% if form2.deff_troops.errors|length == 0 %} 
                        {% for error in form2.errors %}
                        <div class="error-text mb-3">
                            {% trans 'The text cannot be empty' %}.
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                $('.cm-s-deff-troops-codemirror').addClass('CodeMirror-Invalid');
                            });
                        </script>
                        {% endfor %} 
                        {% endif %}
                    </div>
                    <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean my-3">{% trans 'Submit' %}
                    </button>
                </form>
            </div>
            <script>
                var editor = CodeMirror.fromTextArea(document.getElementById("id_deff_troops"), {
                    theme: 'deff-troops-codemirror',
                    lineNumbers: true,
                });
            </script>
        </div>
    </div>
    <div class="col-12 col-lg-5" style="border-left: 1px solid #ddd;">
        <div class="h-100">
            <ul class="nav nav-pills mb-3 mt-1" id="pills-tab" role="tablist">
                <li class="nav-item navitem100">
                    <a class="nav-link active ocean-tab-left" id="pills-home-tab" data-toggle="pill" href="#pills-opis" role="tab" aria-controls="pills-home" aria-selected="true">{% trans 'Info' %}</a>
                </li>
                <li class="nav-item navitem100">
                    <a class="nav-link ocean-tab-right" id="pills-contact-tab" data-toggle="pill" href="#pills-przyklady" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans 'Examples' %}</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-opis" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{info|safe}}
                </div>
                <div class="tab-pane fade" id="pills-przyklady" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {{example|safe}}
                </div>
            </div>
        </div>
    </div>
</div>


{% if error != None %}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-white bg-danger">
            <div class="modal-header">
                <h3 class="modal-title">{% trans 'An error occured' %}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{error|safe}}
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('.bd-example-modal-lg').modal('show');


    });
</script>

{% endif %} {% endblock %}