{% extends "base/new_outline/new_outline_initial_period2.html" %} 
{% load static %} 
{% load i18n %}
{% block title %}{{target.target}} - {{target.player}} - {{instance.name|capfirst}}{% endblock %}
{% block content %}

<input id="speed_world" type="hidden" value="{{instance.world.speed_world}}">
<input id="speed_units" type="hidden" value="{{instance.world.speed_units}}">


<div id="form-modal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="px-4 py-4">
                {% load crispy_forms_tags %}
                <div class="btn-group">
                    <form method='POST'>
                        {% csrf_token %} {{form|crispy}}
                        <button name="form" type="submit" class="btn btn-info">
                            {% trans 'Change and save' %}
                        </button>
                        <button type="button" class="btn btn-secondary ml-1" data-dismiss="modal">
                            {% trans 'Close' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="table" style="max-height: 290vh; overflow:hidden">
    <div class="row">
        <div class="d-flex card col-12 col-lg-4 d-flex flex-column pl-0" style="border:none">
            <div style="overflow-y: auto; height:calc(85vh) !important;" id="leftscroll">
                <ul class="list-group list-group-flush">
                    {% for weight in result_lst %} 
                    <div class="fading-{{weight.paint}}">
                        <li class="list-group-item front-{{weight.first_line}}">
                            <div class="row justify-content-center w-100 mb-1">
                                <div style="position: absolute; top:0;left:1px;padding-top:0">
                                    <small>{{forloop.counter}}</small>
                                </div>
                                <span class='badge badge-pill badge-info'>{{weight.player}}</span><span class=' ml-1 badge badge badge-secondary'>{{weight.start}}</span>
                            </div>
                            <div class="row justify-content-center w-100">
                                <table>
                                    <tr>
                                        <th>
                                            <img src='{% static "images/ax.png" %}' alt="ax">
                                        </th>
                                        <th>
                                            <div class='ml-1'>{{weight.off}}</div>
                                        </th>
                                        {% if weight.ruin %}
                                        <th>
                                            <img src='{% static "images/catapult.png" %}' alt="cat">
                                        </th>
                                        <th>
                                            <div class='ml-1'>{{weight.catapult}}</div>
                                        </th>
                                        {% else %}
                                        <th>
                                            <div class='ml-1'>
                                                <img src='{% static "images/nobleman.png" %}' alt="ax">
                                            </div>
                                        </th>
                                        <th>
                                            <div class='ml-1'>{{weight.nobleman}}
                                        </th>
                                        {% endif %}
                                        <th>
                                            <div class="ml-1">
                                                <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-signpost" fill="#6c757d" xmlns="http://www.w3.org/2000/svg"><path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" /><path fill-rule="evenodd" d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" /><path d="M7 10h2v6H7v-6z" /></svg>
                                            </div>
                                        </th>
                                        <th onclick="calculate_distance(this);">
                                            {{weight.distance}}
                                        </th>
                                    </tr>
                                </table>
                            </div>

                            <div class="row justify-content-center" style="border:0;">
                                <form method="POST" action="{% url 'base:planer_move_down' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">{% csrf_token %}
                                    <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default"><svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="rgba(133, 221, 32, 0.938)" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 5a.5.5 0 0 0-1 0v4.793L5.354 7.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 9.793V5z" /></svg>
                                    </button>
                                </form>

                                <form method="POST" action="{% url 'base:planer_move_up' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                    {% csrf_token %}
                                    <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default"><svg name="{{weight.start}}" width="1.8em" height="1.8em" viewBox="0 0 16 16"class="bi bi-arrow-up-circle-fill" fill="rgba(133, 221, 32, 0.938)"xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-10.646.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z" /></svg>
                                    </button>
                                </form>

                                <form method="POST" action="{% url 'base:planer_initial_delete' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">{% csrf_token %}
                                    <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default"><svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-x-circle-fill " fill="#6c757d" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.146-3.146a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z" /></svg>
                                    </button>
                                </form>

                                {% if not weight.ruin %}
                                <button id="modalbutton" class="btn btn-default" type="button" data-toggle="modal" data-target="#form-modal" data-start="{{weight.start}}" data-off="{{weight.off}}" data-leftoff="{{weight.state.off_left}}" data-leftnobleman="{{weight.state.nobleman_left}}" data-nobleman="{{weight.nobleman}}" data-id="{{weight.id}}"><svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-journals" fill="#17a2b8" xmlns="http://www.w3.org/2000/svg"><path d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2z" /><path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2zM1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" /></svg>
                                </button>

                                {% endif %}

                                <div class="btn-group">
                                    <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Divide' %}</button>
                                    <div class="dropdown-menu">
                                        <form method="POST" action="{% url 'base:planer_divide' instance.id target.id weight.id 2 %}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                            {% csrf_token %}
                                            <button onclick="this.disabled=true,this.form.submit();" class=" dropdown-item btn btn-default">{% trans 'Divide into 2' %}</button>
                                        </form>
                                        <form method="POST" action="{% url 'base:planer_divide' instance.id target.id weight.id 3 %}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                            {% csrf_token %}
                                            <button onclick="this.disabled=true,this.form.submit();" class=" dropdown-item btn btn-default">{% trans 'Divide into 3' %}</button>
                                        </form>
                                        <form method="POST" action="{% url 'base:planer_divide' instance.id target.id weight.id 4 %}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                            {% csrf_token %}
                                            <button onclick="this.disabled=true,this.form.submit();" class=" dropdown-item btn btn-default">{% trans 'Divide into 4' %}</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
            
        <div class="col-12 col-lg-8 d-flex flex-column px-1">
            <div class="table-responsive">
                <table class="table table-sm table-bordered mb-2">
                    <thead>
                        <tr>
                        <th scope="col">{% trans 'Player' %}</th>
                        <th scope="col">{% trans 'Target' %}</th>
                        <th scope="col" class="text-nowrap">{% trans 'TW Stats' %}</th>
                        <th scope="col" class="text-nowrap">{% trans 'Troops from' %}</th>
                        <th scope="col" class="text-nowrap">{% trans 'Troops to' %}</th>
                        <th scope="col" class="text-nowrap">{% trans 'Catapults from' %}</th>
                        <th style="min-width: 130px;" scope="col" class="text-nowrap">{% trans 'Show' %}</th>
                        <th class="text-nowrap" scope="col">{% trans 'Cards on page' %}</th>
                        <th scope="col">{% trans 'Save' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th><h5><span class="badge badge-pill badge-info">{{target.player}}</span></h5></th>
                        <th><h5><span class="badge badge-secondary">{{target.target}}</span></h5></th>
                        <th class="text-nowrap font-nav"><h6><a rel="noopener" target="_blank" href="{{link}}" style="color: #804000;font-weight:700;">TW Stats</a></h6></th>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form-filter" value="">
                        
                        <th>
                            {{filter_form.filter_weights_min}}
                            {% for error in filter_form.filter_weights_min.errors %}
                            <div class="md-error">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </th>
                        <th>
                            {{filter_form.filter_weights_max}}
                            {% for error in filter_form.filter_weights_max.errors %}
                            <div class="md-error">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </th>
                        <th>
                            {{filter_form.filter_weights_catapults_min}}
                            {% for error in filter_form.filter_weights_catapults_min.errors %}
                            <div class="md-error">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </th>
                        <th class="text-center" style="font-size: small;">
                            {{filter_form.filter_hide_front}}
                            {% for error in filter_form.filter_hide_front.errors %}
                            <div class="md-error">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </th>
                        <th>
                            {{filter_form.filter_card_number}}
                            {% for error in filter_form.filter_card_number.errors %}
                            <div class="md-error">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </th>
                        <th>
                            <button onclick="this.disabled=true;this.form.submit();" name="form-filter" type="submit" class="btn btn-ocean btn-sm">
                                {% trans 'Save' %}
                            </button>
                        </th>
                        </form>
                        </tr>
                    </tbody>
                </table>
            </div>   
            
            <nav aria-label="pagination" id="pagination">
                <ul class="pagination mb-2 mt-0">
                    <li class="page-item">
                        <div class="dropdown" >
                            <button class="btn btn-info dropdown-toggle mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans 'Sort' %}</button>
        
                            <div class="dropdown-menu my-0 py-0" style="font-size: small;max-height:65vh" aria-labelledby="dropdownMenuButton">
                                <div style="overflow-y: auto;">
                                <a id='distance2' class="dropdown-item" href="?page=1&sort=distance&filtr={{filtr}}">{% trans 'Ascending by distance' %}</a> 
                                <a id='random_distance2' class="dropdown-item" href="?page=1&sort=random_distance&filtr={{filtr}}">{% trans 'Random by distance' %}</a> 
                                <a id='-distance2' class="dropdown-item" href="?page=1&sort=-distance&filtr={{filtr}}">{% trans 'Descending by distance' %}</a> 
                                <a id='-off_left2' class="dropdown-item" href="?page=1&sort=-off_left&filtr={{filtr}}">{% trans 'Descending by number of units' %}</a> 
                                <a id='-nobleman_left2' class="dropdown-item" href="?page=1&sort=-nobleman_left&filtr={{filtr}}">{% trans 'Descending by number of noble' %}</a>
        
                                <div class="dropdown-divider mb-0 mt-1"></div>
        
                                <a id='closest_offs2' class="dropdown-item" href="?page=1&sort=closest_offs&filtr={{filtr}}">{% trans 'Closest full offs' %}</a>
                                <a id='closest_noblemans2' class="dropdown-item" href="?page=1&sort=closest_noblemans&filtr={{filtr}}">{% trans 'Closest noblemans' %}</a>
                                <a id='closest_noble_offs2' class="dropdown-item" href="?page=1&sort=closest_noble_offs&filtr={{filtr}}">{% trans 'Closest offs with noblemans' %}</a>
        
                                <div class="dropdown-divider mb-0 mt-1"></div>
        
                                <a id='random_offs2' class="dropdown-item" href="?page=1&sort=random_offs&filtr={{filtr}}">{% trans 'Random full offs' %}</a>
                                <a id='random_noblemans2' class="dropdown-item" href="?page=1&sort=random_noblemans&filtr={{filtr}}">{% trans 'Random noblemans' %}</a>
                                <a id='random_noble_offs2' class="dropdown-item" href="?page=1&sort=random_noble_offs&filtr={{filtr}}">{% trans 'Random offs with noblemans' %}</a>
        
                                <div class="dropdown-divider mb-0 mt-1"></div>
        
                                <a id='farthest_offs2' class="dropdown-item" href="?page=1&sort=farthest_offs&filtr={{filtr}}">{% trans 'Farthest full offs' %}</a>
                                <a id='farthest_noblemans2' class="dropdown-item" href="?page=1&sort=farthest_noblemans&filtr={{filtr}}">{% trans 'Farthest noblemans' %}</a>
                                <a id='farthest_noble_offs2' class="dropdown-item" href="?page=1&sort=farthest_noble_offs&filtr={{filtr}}">{% trans 'Farthest offs with noblemans' %}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1&sort={{sort}}&filtr={{filtr}}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort={{sort}}&filtr={{filtr}}">{% trans 'Previous' %}</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="?page=1&sort={{sort}}&filtr={{filtr}}">1</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">{% trans 'Previous' %}</a>
                    </li>
                    {% endif %}
                    <li class="page-item disabled">
                        <a class="page-link text-nowrap">{{ page_obj.number }} {% trans 'of' %} {{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" id="submit" href="?page={{ page_obj.next_page_number }}&sort={{sort}}&filtr={{filtr}}">{% trans 'Next' %}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&sort={{sort}}&filtr={{filtr}}">{{page_obj.paginator.num_pages}}</a> 
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">{% trans 'Next' %}</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&sort={{sort}}&filtr={{filtr}}">{{page_obj.paginator.num_pages}}</a> 
                    </li>
                    {% endif %}
                    <li class="page-item ml-3" >
                        <form method="GET">
                            <div class="input-group">
                                <input name="page" type="hidden" value="{{page_obj.number}}">
                                <input name="sort" type="hidden" value="{{sort}}">
                                <input class="form-control py-2" maxlength="50" placeholder="{% trans 'coord or nick...' %}" name="filtr" type="search" value="{{filtr}}">
                                <span class="input-group-append">
                                  <button class="btn btn-outline-secondary" style="border-color: rgb(204, 202, 202)" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                  </button>
                                </span>
                            </div>
                            
                        </form>
                    </li>
                </ul>
                
            </nav>
 
            <div class="container-fluid" style="overflow-y: auto;height:calc(67vh) !important;border-top:1px solid rgb(228, 225, 225);border-radius: 8px;">
                <div class="row">
                    {% for weight in page_obj %}
                    <div class="card col-12 col-md-6 col-lg-6 col-xl-4 front-{{weight.first_line}}">
                        <div class="card-body py-0 px-0">
                            <div style="position: absolute; top:0;right:0;padding-top:0">
    
                                <form action="{% url 'base:planer_hide_weight' instance.id target.id weight.id %}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}" method="POST">
                                    {% csrf_token %}
                                    <button style="padding: 0;" class="btn btn-default" onclick="this.disabled=true;this.form.submit();">
                                        {% if weight.hidden == False %}
                                        <svg style="padding: 0;" width="1.1em" height="1.1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                            </svg>
                                        {% else %}
                                        <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-check2" fill="green" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                            </svg>
                                        {% endif %}
                                    </button>
                                </form>
                                
                            </div>
                            {% if forloop.first %}
                            {% if target.fake %}
                            <div data-trigger="hover" data-toggle="tooltip" data-placement="right" title="{% trans 'On the left adding Fake, on the right 1 Noble' %}" style="position: absolute; top:0;left:0;padding-top:0;margin-left:3px">
                                <img src="{% static 'images/help-big.svg' %}">
                            </div>
                            {% elif target.ruin %}
                            <div data-trigger="hover" data-toggle="tooltip" data-placement="right" title="{% trans 'On the left adding Offs, on the right Ruin attack' %}" style="position: absolute; top:0;left:0;padding-top:0;margin-left:3px">
                                <img src="{% static 'images/help-big.svg' %}">
                            </div>
                            {% else %}
                            <div data-trigger="hover" data-toggle="tooltip" data-placement="right" title="{% trans 'On the left adding Offs, on the right Offs with the Nobles' %}" style="position: absolute; top:0;left:0;padding-top:0;margin-left:3px">
                                <img src="{% static 'images/help-big.svg' %}">
                            </div>
                            {% endif %}
                            {% endif %}
                            <div style="padding-top:1px ;" class="d-flex row justify-content-center">
                                <h5>
                                    <span class="badge badge-pill badge-info">{{weight.player}}</span>
                                </h5>
                            </div>
                            <div class="d-flex row justify-content-center">
                                <h5>
                                    <span class="badge badge-secondary">{{weight.start}}</span>
                                    
                                </h5>
                                
                            </div>
                            <div class="row justify-content-center">

                                <div class="col-auto">
                                    {% if target.ruin %}
                                    <form method="POST" action="{% url 'base:planer_add_first_off' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/green-up-btn.svg' %}" alt="up">
                                        </button>
                                    </form>
                                    <form method="POST" action="{% url 'base:planer_add_last_off' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/green-down-btn.svg' %}" alt="down">
                                        </button>
                                    </form>
                                    {% elif target.fake %}
                                    <form method="POST" action="{% url 'base:planer_add_first_fake' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/green-up-btn.svg' %}" alt="up">
                                        </button>
                                    </form>
                                    <form method="POST" action="{% url 'base:planer_add_last_fake' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/green-down-btn.svg' %}" alt="down">
                                        </button>
                                    </form>
                                    {% else %}
                                    <form method="POST" action="{% url 'base:planer_add_first_off' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/green-up-btn.svg' %}" alt="up">
                                        </button>
                                    </form>
                                    <form method="POST" action="{% url 'base:planer_add_last_off' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/green-down-btn.svg' %}" alt="down">
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>
                                <div class="col-auto">
                                    <div class="row justify-content-center">
                                        <table class="mb-3">
                                            <tr>
                                                <th>
                                                    <img src='{% static "images/ax.png" %}' alt="ax">
                                                </th>
                                                <th>{{weight.off_left}}</th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <img src='{% static "images/catapult.png" %}' alt="cat">
                                                </th>
                                                <th>{{weight.catapult_left}}</th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <img src='{% static "images/nobleman.png" %}' alt="ax">
                                                </th>
                                                <th>{{weight.nobleman_left}}</th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-signpost" fill="#6c757d" xmlns="http://www.w3.org/2000/svg"><path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" /><path fill-rule="evenodd" d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" /><path d="M7 10h2v6H7v-6z" /></svg>
                                                </th>
                                                <th onclick="calculate_distance(this);">{{weight.distance|floatformat:1}}</th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                                <div class="col-auto">

                                    {% if target.ruin %}
                                    <form method="POST" action="{% url 'base:planer_add_first_ruin' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/teal-up-btn.svg' %}" alt="up">
                                        </button>
                                    </form>
                                    <form method="POST" action="{% url 'base:planer_add_last_ruin' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/teal-down-btn.svg' %}" alt="down">
                                        </button>
                                    </form>
                                    {% elif target.fake %}
                                    <form method="POST" action="{% url 'base:planer_add_first_fake_noble' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/teal-up-btn.svg' %}" alt="up">
                                        </button>
                                    </form>
                                    <form method="POST" action="{% url 'base:planer_add_last_fake_noble' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/teal-down-btn.svg' %}" alt="down">
                                        </button>
                                    </form>
                                    {% else %}
                                    <form method="POST" action="{% url 'base:planer_add_first' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/teal-up-btn.svg' %}" alt="up">
                                        </button>
                                    </form>
                                    <form method="POST" action="{% url 'base:planer_add_last' instance.id target.id weight.id%}?page={{ page_obj.number }}&sort={{ sort }}&filtr={{filtr}}">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true,this.form.submit();" class="btn btn-default">
                                            <img src="{% static 'images/teal-down-btn.svg' %}" alt="down">
                                        </button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    scroll_content_outline();
    modal();
    $("#{{sort}}").addClass("selected")
    $("#{{sort}}2").addClass("selected")
</script>

{% endblock %}
{% block footer %}
{% endblock %}