{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Create new outline' %}{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    {% get_current_language as LANG %}
    {% load static %}
    <div class="row mt-3 mb-4">
        <div class="col-12 col-lg-7">

            <div class="p-3 mb-2 bg-light text-dark"><i class="bi bi-info-square"></i> {% trans 'Your server is set to' %} <a href="{% url 'base:settings' %}" class="font-teal" style="text-decoration: underline;">{{profile.server}}.</a></div>


            <div class="p-3 mb-2 bg-light text-dark"><i class="bi bi-info-square"></i> {% trans 'First time? You can choose a special <span class="md-correct2">World Test</span> created for testing purposes, see ' %}<a target="_blank" class="font-teal" style="text-decoration: underline;" href="/{{ request.get_full_path|slice:'1:3' }}/documentation/first_steps/">{% trans 'docs' %}</a>.</div>

            <form method='POST' autocomplete="off">
                <input type="hidden" value="" name="form1">
                {% csrf_token %}
                {{ form1|crispy }}
                <button onclick="this.disabled=true;this.form.submit();" class="btn btn-ocean mb-5 mt-2">
                    {% trans 'Create' %}
                </button>
            </form>

        </div>

        <div class="col-12 col-lg-5" style="border-left: 1px solid #ddd;">
            <div class="h-100">
                <ul class="nav nav-pills mb-3 mt-1" id="pills-tab" role="tablist">
                    <li class="nav-item navitem100">
                        <a class="nav-link active ocean-tab-left" id="pills-home-tab" data-toggle="pill" href="#pills-opis" role="tab" aria-controls="pills-home" aria-selected="true">{% trans 'Info' %}</a>
                    </li>
                    <li class="nav-item navitem100">
                        <a class="nav-link ocean-tab-right" id="pills-contact-tab" data-toggle="pill" href="#pills-przyklady" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans 'Examples' %}</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-opis" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div id="planer-docs-info"></div>
                    </div>
                    <div class="tab-pane fade" id="pills-przyklady" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div id="planer-docs-example"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not profile.server_bind %}
        <div class="modal fade" id="ValidationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ValidationModalTitle">{% trans 'Please select game server' %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding: 2.5rem;padding-top:1rem;">
                        {% trans 'There are 20 game servers to choose from. <br><br>Please select one, it will be assigned to your account. You can always choose another later, just visit tab' %} <span class="md-correct2">{% trans 'My account' %}</span>.
                        <form method="POST" autocomplete="off" class="mt-4">
                            <input type="hidden" value="" name="form2">
                            {% csrf_token %}
                            {{form2|crispy}}
                            <button class="btn btn-ocean" onclick="this.disabled=true;this.form.submit();">
                                {% trans 'Set server' %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>document.addEventListener("DOMContentLoaded", function(event) {$('#ValidationModal').modal('show');});</script>
    {% endif %}
{% endblock %}
{% block scripts %}
    {% get_current_language as LANG %}
    <script>
        loadDocsPage(2, "planer-docs-info", "{% static 'markdown/'|add:LANG|add:'/planer_create_info.md' %}");
        loadDocsPage(3, "planer-docs-example", "{% static 'markdown/'|add:LANG|add:'/planer_create_example.md' %}");
    </script>
{% endblock %}