{% extends 'base/base.html' %} 
{% load i18n %}
{% block title %}{% trans 'Select tribes' %} - {{instance.name|capfirst}} | {{instance.world.human}}{% endblock %}
{% block content %} 
{% load crispy_forms_tags %}

<div class="container-fluid md-pre mt-3">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="mt-3">
                <form method='POST'>{% csrf_token %} {{ form1|crispy }}
                    <button onclick="this.disabled=true,this.form.submit();" class="btn btn-ocean" type="submit">{% trans 'Add an ally tribe' %}</button>
                </form>
            </div>
            <div class="mt-5">
                <form method='POST'>{% csrf_token %} {{ form2|crispy }}
                    <button onclick="this.disabled=true,this.form.submit();" class="btn btn-danger mb-4" type="submit">{% trans 'Add an enemy tribe' %}</button>
                </form>
            </div>

        </div>
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color: teal">
                                <th>{% trans 'Ally' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in ally %}
                            <tr>
                                <td>{{tag}}</td>
                            </tr>
                            {% endfor %} {% if ally.0 != "" %}
                            <tr>
                                <td>
                                    <form action="{% url 'base:planer_delete_ally_tags' instance.id %}" method="POST">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-block btn-outline-danger" type="submit">{% trans 'Delete all' %}</button>

                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="background-color: #dc3545">
                                <th scope="col">{% trans 'Enemy' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in enemy %}
                            <tr>
                                <td class="md-error">{{tag}}</td>
                            </tr>
                            {% endfor %} {% if enemy.0 != "" %}
                            <tr>
                                <td>
                                    <form action="{% url 'base:planer_delete_enemy_tags' instance.id %}" method="POST">
                                        {% csrf_token %}
                                        <button onclick="this.disabled=true;this.form.submit();" class="btn btn-block btn-outline-danger" type="submit">{% trans 'Delete all' %}</button>

                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>



    </div>
</div>
<div>
    <button type="button" class="btn btn-outline-ocean btn-lg btn-block mt-2" data-toggle="modal" data-target="#ValidationModal">
        {% trans 'Save and create' %}
      </button>
</div>

<div class="modal fade" id="ValidationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ValidationModalTitle">{% trans 'Warning' %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                {% blocktrans %} To avoid future conflicts you can set up ally and enemy tribes
                <div class="md-error">ONLY ONCE!</div>
                <br>In the event of the error, you will be forced to create new outline.
                <li>Make sure you set up all Allies.</li>
                <li>Make sure you set up all Enemies.</li>
                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
                <form action="{% url 'base:planer_disable_editable' instance.id %}" method="POST">
                    {% csrf_token %}
                    <button onclick="this.disabled=true;this.form.submit();" type="submit" class="btn btn-ocean">{% trans 'Continue' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}