{% extends "base/new_outline/new_outline_initial_period2.html" %}

{% load static %}
{% load i18n %}

    {% block content %}
    <input id="speed_world" type="hidden" value="{{instance.world.speed_world}}">
    <input id="speed_units" type="hidden" value="{{instance.world.speed_units}}">

    <div class="fixed-scrollbar-container">
    {% block outline_navbar %}
    {{block.super}}
    {% endblock %}
    {% block outline_navigation %}
    {{block.super}}
    {% endblock %}
    <div class="conatiner-fluid" style="width: min-content;">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th class="text-nowrap">{% trans 'Ruin Target' %}</th>
                    <th class="text-nowrap" colspan="50" scope="colgroup">{% trans 'Ruin Outline' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for target, lst in query %}
                <tr>
                    <th>
                        <div class="d-flex justify-content-center">
                            <h5>
                                <span class="badge badge-pill badge-info">
                                    {{target.player}}
                                </span>
                            </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>
                                <span class="badge badge badge-secondary">
                                    {{target.target}}
                                </span>
                            </h5>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5>
                                <a target="_blank" href="{{target.get_absolute_url}}?sort={{instance.choice_sort}}"
                                    class="btn btn-sm btn-outline-info">
                                    {% trans 'Edit' %}
                                </a>
                            </h5>
                        </div>
                    </th>
                    {% for weight in lst %}
                    <th class="front-{{weight.first_line}}">
                        <div class="popoverData" data-html="true"
                            data-content="<h4><span class='badge badge-pill badge-info'>{{weight.player}}</span></h4><div class='d-flex justify-content-center'><h5><span class='badge badge badge-secondary'>{{weight.start}}</span></h5></div>{% if weight.ruin %}<h5 style='text-align:center'>{{weight.get_building_display}}</h5>{% endif %}"
                            rel="popover" data-placement="top" data-trigger="hover">
                            <table class="table table-sm">
                                    <tr>
                                        <th>
                                            <img src='{% static "images/ax.png" %}' alt="ax">
                                        </th>
                                        <th style="font-size: small;cursor:default;">
                                            {{weight.off}}
                                        </th>
                                    </tr>
                                    <tr>
                                        {% if weight.ruin %}
                                        <th>
                                            <img src='{% static "images/catapult.png" %}' alt="cat">
                                        </th>
                                        <th style="font-size: small;cursor:default;">
                                            {{weight.catapult}}
                                        </th>

                                        {% else %}
                                        <th>
                                            <img src='{% static "images/nobleman.png" %}' alt="ax">
                                        </th>
                                        <th style="font-size: small;cursor:default;">
                                            {{weight.nobleman}}
                                        </th>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <th>
                                            <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-signpost"
                                                fill="#6c757d" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" />
                                                <path fill-rule="evenodd"
                                                    d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" />
                                                <path d="M7 10h2v6H7v-6z" />
                                            </svg>
                                        </th>
                                        <th style="font-size: small;cursor:pointer;" onclick="calculate_distance(this);">
                                            {{weight.distance}}
                                        </th>
                                    </tr>
                                </table>
                    </th>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    activateTooltips();
    activateFixedScrollbarContainer();
</script>

{% block outline_go_back %}
{{block.super}}
{% endblock %}

{% endblock %}