{% extends "base/new_outline/new_outline.html" %} 
{% load i18n %}
{% block title %}{% trans 'Deff collection' %} - {{instance.name|capfirst}}{% endblock %}
{% block content %} 
{% load crispy_forms_tags %}

<div class="row my-2" style="min-height: 91vh;">
    <div class="col-12 col-lg-7">
        <form id="form-form" method='POST'>
            <input type="hidden" name="form" value="">
            {% csrf_token %} 
            {{ form|crispy }}
            <button onclick="handleClickButton(this, `{% trans 'Processing...' %}`, `form-form`)" class="btn btn-ocean mb-5" id="form-btn">{% trans 'Submit' %}</button>
        </form>
    </div>

    <div class="col-12 col-lg-5" style="border-left: 1px solid #ddd;">
        <div class="h-100">
            <ul class="nav nav-pills mb-3 mt-1" id="pills-tab" role="tablist">
                <li class="nav-item responsive-tab">
                    <a class="nav-link active ocean-tab-left" id="pills-home-tab" data-toggle="pill" href="#pills-opis" role="tab" aria-controls="pills-home" aria-selected="true">{% trans 'Info' %}</a>
                </li>
                <li class="nav-item responsive-tab">
                    <a class="nav-link ocean-tab-right" id="pills-contact-tab" data-toggle="pill" href="#pills-przyklady" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans 'Examples' %}</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-opis" role="tabpanel" aria-labelledby="pills-home-tab">
                    {{info|safe}}

                </div>
                <div class="tab-pane fade" id="pills-przyklady" role="tabpanel" aria-labelledby="pills-contact-tab">
                    {{example|safe}}
                </div>

            </div>
        </div>
    </div>
    <br />
    <br /> 
    
    {% endblock %}