{% load i18n %}{% trans 'Hello, '%}{{user.username}}
<br>
<br>
{% trans 'Your payment on' %} {{payment_date}} {% trans 'in the amount of' %} {{amount}} PLN {% trans 'has been successfully processed and your premium account has been activated or extended.' %}
<br>
<br>
{% trans 'This e-mail was generated automatically, please do not reply.' %}
<br>
<br>
{% trans 'Sincerely,' %}
<br>
{% trans 'plemiona-planer.pl' %}
