{% load i18n %}{% trans 'Hello, '%}<b>{{instance.user.username}}</b>
<br>
<br>
{% trans 'Your payment on' %} {{instance.payment_date}} {% trans 'in the amount of' %} {{instance.value}} {% trans 'has been successfully processed and your premium account has been activated or extended.' %}
<br>
{% trans "When refering THIS payment, use following payment intent id:" %} <u>{{instance.payment_intent_id}}</u>.
<br>
<br>
<b>{% trans 'This e-mail was generated automatically, please do not reply.' %}</b>
<br>
{% trans "If you have questions, use contact email: rafal.safin@rafsaf.pl" %}
<br>
<br>
{% trans 'Sincerely,' %}
<br>
{{domain}}
