{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container-md py-5" style="min-height: 70vh; max-width:900px !important; font-size:larger;">
        <div style="margin-left:-15px;margin-right:-15px;">
            <h2>{% trans 'Activation failed!' %}</h2>
            <br>
            <p>{% trans 'Activation failed! It looks like your account is already activated, link is already expired or username does not correspond to any user account.' %}</p>

            <p>{% trans 'Code: ' %}<i>{{ activation_error.code }}</i></p>
        </div>
    </div>
{% endblock %}