 {% extends 'base/base.html' %} 
 {% load i18n %} {% load crispy_forms_tags %}
 {% block meta-content %}
<meta name="description" content="{% trans 'Join now for free and create tribal wars proffesional outlines.' %}" />

{% endblock %}
 
 {% block content %} 


<div class="container-fluid">
    <div class="row justify-content-center" style="min-height: 85vh;">

        <div class="col-11 col-md-9 col-lg-8 col-xl-6 align-self-center mb-5">

            <form method='POST'>{% csrf_token %} {{ form|crispy }}

                <button class="btn btn-ocean mt-3" type="submit">{% trans 'Create an account' %}</button>

            </form>
            
        </div>

    </div>
</div>

{% endblock %}