{% extends "base/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container-md py-5" style="min-height: 70vh; max-width:900px !important; font-size:larger;">
        <div style="margin-left:-15px;margin-right:-15px;">
            <h2>{% trans 'Congratulations, you have successfully registered!' %}</h2>
            <br>
            {% trans 'Please check you email, you should get activation url in a second. The link is valid for 2 days.' %}
        </div>
    </div>
{% endblock %}