.btn-ocean {
    color: #fff;
    background-color: teal;
    border-color: #005a5a
}

.btn-ocean:hover {
    color: #fff;
    background-color: #004d4d;
    border-color: #009a9a
}

.btn-ocean:focus,
.btn-ocean.focus {
    box-shadow: 0 0 0 .2rem rgba(0, 90, 90, 0.5)
}

.btn-ocean.disabled,
.btn-ocean:disabled {
    color: #fff;
    background-color: teal;
    border-color: #005a5a
}

.btn-ocean:not(:disabled):not(.disabled):active,
.btn-ocean:not(:disabled):not(.disabled).active,
.show>.btn-ocean.dropdown-toggle {
    color: #fff;
    background-color: #00b3b3;
    border-color: #000
}

.btn-ocean:not(:disabled):not(.disabled):active:focus,
.btn-ocean:not(:disabled):not(.disabled).active:focus,
.show>.btn-ocean.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 90, 90, 0.5)
}

.btn-outline-ocean {
    color: teal;
    background-color: transparent;
    background-image: none;
    border-color: teal
}

.btn-outline-ocean:hover {
    color: #222;
    background-color: #009a9a;
    border-color: teal
}

.btn-outline-ocean:focus,
.btn-outline-ocean.focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 128, 0.5)
}

.btn-outline-ocean.disabled,
.btn-outline-ocean:disabled {
    color: teal;
    background-color: transparent
}

.btn-outline-ocean:not(:disabled):not(.disabled):active,
.btn-outline-ocean:not(:disabled):not(.disabled).active,
.show>.btn-outline-ocean.dropdown-toggle {
    color: #fff;
    background-color: #009a9a;
    border-color: teal
}

.btn-outline-ocean:not(:disabled):not(.disabled):active:focus,
.btn-outline-ocean:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-ocean.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 128, 0.5)
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

@media (max-width: 768px) {
    .mt-li {
        margin-top: 0.25rem!important;
    }
    .h1-responsive {
        font-size: 1.2rem;
        margin-top: 0rem !important;
    }
}

.dt {
    flex: 1;
    height: min-content;
    position: sticky;
    width: auto;
    position: -webkit-sticky;
    top: 0;
    bottom: 0;
}

.md-error {
    color: #dc3545 !important;
    font-weight: bold !important;
}

.md-correct {
    color: #42eb2c !important;
    font-weight: bold !important;
}
.th-front {
    background: #d6e9e2 !important;
}

.front-True {
    background: #e7f1eea4 !important;
}
.paint {
    background: #afdfd0a4 !important;
}

.md-correct2 {
    color: #20AA76 !important;
    font-weight: bold !important;
}

.md-pre {
    border: 1px solid #ddd !important;
}

.help-text {
    color: #6c757d !important;
    font-size: small !important;
}

.error-text {
    font-size: 80% !important;
    color: #dc3545 !important;
    font-weight: bold !important;
}

.line-error {
    background: #FBC2C4 !important;
    color: #8a1f11 !important;
}

.border-invalid {
    border: 2px solid #dc3545 !important;
}

.CodeMirror-Invalid {
    border: 1px solid #dc3545 !important;
}

.CodeMirror {
    border: 1px solid #ddd !important;
}

.CodeMirror pre {
    padding-left: 7px;
    line-height: 1.25;
}

.banner {
    background: #ffc;
    padding: 6px;
    border-bottom: 2px solid silver;
}

.banner div {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

@media (max-width:1200px) {
    legend {
        font-size: calc(1.275rem + .3vw)
    }
    .h1,
    h1 {
        font-size: calc(1.375rem + 1.5vw)
    }
    .h2,
    h2 {
        font-size: calc(1.325rem + .9vw)
    }
    .h3,
    h3 {
        font-size: calc(1.3rem + .6vw)
    }
    .h4,
    h4 {
        font-size: calc(1.275rem + .3vw)
    }
    .display-1 {
        font-size: calc(1.725rem + 5.7vw)
    }
    .display-2 {
        font-size: calc(1.675rem + 5.1vw)
    }
    .display-3 {
        font-size: calc(1.575rem + 3.9vw)
    }
    .display-4 {
        font-size: calc(1.475rem + 2.7vw)
    }
    .close {
        font-size: calc(1.275rem + .3vw)
    }
}

.fading- {
    background-color: white;
    border: 1px solid white;
}
.fading-paint {
    background-color: white ;
    border: 1px solid rgb(12, 12, 102);
}

.fading- :hover {
    border-color: rgb(12, 12, 102);
}

.fading- > * :hover{
    border-color: white;
    
}

.btn-outline-info:hover {
    color: rgba(132, 241, 81, 0.986) !important;

}

.dropdown-menu:hover {
    background: white !important;
}

a[class=teal-copy] {
    font-size: x-large;
    color: rgb(11, 136, 145);
    text-decoration:none;
    border-bottom: 4px solid teal;
}
