{% load static %}
<!doctype html>
<html lang="pl-PL">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Plemiona Planer</title>
    {% load bootstrap4 %}

    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>


<body>


    <div class="d-flex" id="wrapper">
        {% if user.is_authenticated %}
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Panel użytkownika </div>
            <div class="list-group list-group-flush">

                <a href="{% url 'base:planer' %}" class="list-group-item list-group-item-action
                        bg-light">Moje rozpiski</a>
                <a href="{% url 'base:planer_create' %}" class="list-group-item list-group-item-action
                        bg-light">Stwórz nową rozpiskę</a>

                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
        {% endif %}
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light
                    border-bottom">
                {% if user.is_authenticated %}
                <button class="btn btn-primary" id="menu-toggle">Menu</button>
                <button id="navbar-toggle" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% endif %}

                <div class="collapse navbar-collapse" id="navbarSupportedContent">


                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'base:base' %}" >Home <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'base:planer' %}">Planer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'base:documentation' %}">Dokumentacja</a>
                        </li>
                        {% if user.is_authenticated %}

                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Admin Site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'base:planer_update' %}">Aktualizacja</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="btn btn-danger" href="{% url 'accounts:logout' %}">Wyloguj</a>
                        </li>

                        {% else %}
                        <li class="nav-item">
                            <a class="btn btn-primary" href="{% url 'accounts:login' %}">Logowanie</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </nav>
            <div class="container-fluid mt-4">

                {% block content %}
                <img src="{% static 'images/car.jpg' %}" class="img-fluid" alt="Responsive image">
                <h1 class="mt-4">Site</h1>
                {% endblock %}
            </div>

            
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->




    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $.fn.selectpicker.Constructor.DEFAULTS.dropupAuto = false;

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>