{% extends 'base/base.html' %} 
{% load i18n %} 
{% block content %}
<div class="table-responsive">
<table class="table table-striped mt-3">
    <thead style="background-color: teal;">
        <tr style="color: white;">
            <th class='text-nowrap' scope="col" style="border:1px solid teal">{% trans 'Outline Name' %}</th>
            <th scope="col" style="border:1px solid teal">{% trans 'Date' %}</th>
            <th scope="col" style="border:1px solid teal">{% trans 'Created' %}</th>
            <th scope="col" style="border:1px solid teal">{% trans 'World' %}</th>
            <th scope="col" style="border:1px solid teal">{% trans 'Ally' %}</th>
            <th scope="col" style="border:1px solid teal">{% trans 'Enemy' %}</th>
            <th scope="col" style="border:1px solid teal">{% trans 'Hide' %}</th>
            <th scope="col" style="border:1px solid teal">{% trans 'Delete' %}</th>
        </tr>
    </thead>
    <tbody>

        {% for instance in object_list %}
        <tr>
            <td>
                <a class="btn btn-secondary my-2" href="{% url 'base:planer_detail' instance.id %}" role="button">{{instance.name}}</a>
            </td>
            <td><p class="my-2 mt-3">{{instance.date}}</p></td>
            <td><p class="my-2 mt-3">{{instance.created}}<br><small class="md-error">{{instance.expires_in}}</small></p></td>
            <td><p class="my-2 mt-3">{{instance.world_human}}</p></td>
            <td><p class="my-2 mt-3">{{instance.ally_tribe_tag}}</p></td>
            <td><p class="my-2 mt-3">{{instance.enemy_tribe_tag}}</p></td>
            <td>
                {% if instance.status == 'active' %}

                <form action="{% url 'base:planer_status' instance.id %}" method="POST">
                    {% csrf_token %}
                    <button onclick="this.disabled=true;this.form.submit();" class="btn btn-secondary my-2">{% trans 'Hide' %}</button>
                </form>

                {% else %}

                <form action="{% url 'base:planer_status' instance.id %}" method="POST">
                    {% csrf_token %}
                    <button onclick="this.disabled=true;this.form.submit();" class="btn btn-secondary my-2">{% trans 'Show' %}</button>
                </form>

                {% endif %}

            </td>
            <td>
                <div>
                    <button type="button" class="btn btn-secondary my-2" data-toggle="modal" data-target="#ValidationModal-{{instance.id}}">{% trans 'Delete' %}</button>
                </div>

                <div class="modal fade" id="ValidationModal-{{instance.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{% trans 'Warning' %}</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h4 class="md-correct2">{{instance.name}}</h4>
                                <p>{% trans "You will lose all progress on this outline. The orders (weights), targets, entered script results and any data will be deleted forever too. The generated links will remain valid as is, but you will no longer be able to access them through the Results tab. You may consider hiding this outline instead of deleting it." %}</p>

                                <h5 class="md-error mt-2">{% trans "This operation cannot be undone!" %}</h5>
                                
                            </div>
                            <div class="modal-footer">

                                <button id="dismiss-{{instance.id}}-btn" type="button" class="btn btn-secondary" data-dismiss="modal">
                                    <b>{% trans 'Close' %}</b>
                                </button>

                                <form id="form-{{instance.id}}-form" action="{% url 'base:planer_delete' instance.id %}" method="POST">
                                    {% csrf_token %}
                                    <button onclick="removeOutline(this,`dismiss-{{instance.id}}-btn`,`form-{{instance.id}}-form`,`{% trans 'Processing...' %}`)" class="btn btn-danger">{% trans 'Delete forever' %}</button>
                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            {% endfor %}
    </tbody>
</table>
</div>

{% if show_all == True %}
<p><a class="btn btn-outline-ocean my-3" href="{% url 'base:planer' %}" role="button">{% trans "Don't show hidden" %}</a></p>
{% else %}
<p><a class="btn btn-outline-ocean my-3" href="{% url 'base:planer_all' %}" role="button">{% trans 'Show hidden' %}</a></p>
{% endif %} 

{% endblock %}



