{% extends 'base/base.html' %} 
{% load i18n %} {% load static %} 
{% block meta-content %}
<meta name="description" content="{% trans 'Documentation of Tribal Wars Planer, professional tool for creating outlines for off-game coordinators.' %}"/>

{% endblock %}

{% block content %}
{% autoescape off %} 

<div class="row justify-content-center">
<div id='docs' class="font-nav col-12 col-lg-9">
    {{doc}}
</div>
</div>
 

{% endautoescape %}

<script>
    function updateClipboard(id) {
        var newClip = document.getElementById(id).textContent
        navigator.clipboard.writeText(newClip);
    }
</script>
{% endblock %}