{% extends "base/base.html" %}
{% load static %} 
{% load i18n %} 
{% block showsidebar %}
{% if user.is_authenticated %}
<div class="bg-light border-right toggled" id="sidebar-wrapper">
    <div class="sidebar-heading">{% trans 'User Panel' %}</div>
    <div class="list-group list-group-flush">
        <a href="{% url 'base:planer' %}" class="list-group-item list-group-item-action bg-light">{% trans 'My outlines' %}</a>
        <a href="{% url 'base:planer_create' %}" class="list-group-item list-group-item-action bg-light">{% trans 'Create new outline' %}</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<input id="speed_world" type="hidden" value="{{overview.outline.world.speed_world}}">
<input id="speed_units" type="hidden" value="{{overview.outline.world.speed_units}}">
<h1 class="font-nav text-center">{{overview.player}}</h1>
<h4 class="font-nav mb-3 text-center">{{overview.outline.date}}</h4>

<div class="col-12 col-lg-10 offset-lg-1">
    <ul class="nav nav-tabs mb-3 mt-1 font-nav" id="pills-tab" role="tablist" style="font-size:x-large;">
        <li class="nav-item" >
            <a style="color:black;" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-outline-copy" role="tab" aria-controls="pills-home" aria-selected="true">{% trans 'Copy' %}
            </a>
        </li>
        <li class="nav-item">
            <a style="color: black;" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-outline-details" role="tab" aria-controls="pills-contact" aria-selected="false">{% trans 'Details' %}
            </a>
        </li>
    </ul>
</div>
<div class="tab-content" id="pills-tabContent" style="margin-bottom:-80px;">
    <div class="tab-pane fade show active" id="pills-outline-copy" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row" id='outline-fit'>
            <div class="col-auto mx-auto">
                <div class="alert alert-primary mt-5" style="font-size: large;cursor:default;" role="alert">
                    {% trans 'The contents below shows your targets, please copy the one you like to your in-game notes.' %}
                </div>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2 mt-2">
                <div class="mb-5" id='text' style="border-left: 5px solid teal;">
                    <h1 class="ml-2 font-nav">
                        <span class="mr-2">{% trans 'Text' %}</span><button style="font-size: large;" class="btn btn-outline-info" onclick="handleButtonClipboardUpdate(this,`text-copy`,`{% trans 'Successfully copied!'%}`, `{% trans 'Click to copy again'%}`);">{% trans 'Copy to clipboard' %}</button>
                    </h1>

                    <div class="ml-2">
                        <img class="d-md-none img-fluid" src="{% static 'images/text-min.jpg'%}" alt="Example Result 2">
                        <img class="d-none d-md-block img-fluid" src="{% static 'images/text.png'%}" alt="Example Result 2">
                        <textarea class="form-control mt-1" id="text-copy" rows="10">[url={{ request.scheme }}://{{ request.get_host }}{{overview.get_absolute_url}}]{% trans 'A link to your targets on plemiona-planer.pl.' %}[/url]&#10;{{overview.string}}</textarea>
                    </div>
                </div>

                <br>
                <br>

                <div class="mb-5" id='table' style="border-left: 5px solid teal;">
                    <h1 class="ml-2 font-nav">
                        <span class="mr-2">{% trans 'Table' %}</span> <button style="font-size: large;" class="btn btn-outline-info" onclick="handleButtonClipboardUpdate(this,`table-copy`,`{% trans 'Successfully copied!'%}`, `{% trans 'Click to copy again'%}`);">{% trans 'Copy to clipboard' %}</button>
                    </h1>
                    <small class="ml-2 form-text text-muted">{% trans 'Hint: Use Text format if u have many commands. ' %}</small>
                    <div class="ml-2">
                        <img  class='d-md-none img-fluid' src="{% static 'images/table-min.jpg'%}" alt="Example Result 1">
                        <img  class='d-none d-md-block img-fluid' src="{% static 'images/table.png'%}" alt="Example Result 1">
                        <textarea class="form-control mt-1" id="table-copy" rows="10">[url={{ request.scheme }}://{{ request.get_host }}{{overview.get_absolute_url}}]{% trans 'A link to your targets on plemiona-planer.pl.' %}[/url]&#10;{{overview.table}}</textarea>
                    </div>
                </div>

                <br>
                <br>

                <div class="mb-5" id='text' style="border-left: 5px solid teal;">
                    <h1 class="ml-2 font-nav">
                        <span class="mr-2">{% trans 'Text for deputy' %}</span> 
                        <button style="font-size: large;" class="btn btn-outline-info" onclick="handleButtonClipboardUpdate(this,`deputy-copy`,`{% trans 'Successfully copied!'%}`, `{% trans 'Click to copy again'%}`);">{% trans 'Copy to clipboard' %}
                        </button>
                    </h1>

                    <small class="ml-2 form-text text-muted">{% trans 'Hint: Use this one when someone else will send this commands.' %}</small>
                    <div class="ml-2">
                        <img class="d-md-none img-fluid" src="{% static 'images/text-min.jpg'%}" alt="Example Result 2">
                        <img class="d-none d-md-block img-fluid" src="{% static 'images/text.png'%}" alt="Example Result 2">
                        <textarea class="form-control mt-1" id="deputy-copy" rows="10">[url={{ request.scheme }}://{{ request.get_host }}{{overview.get_absolute_url}}]{% trans 'A link to your targets on plemiona-planer.pl.' %}[/url]&#10;{{overview.deputy}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="pills-outline-details" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row" id='outline-fit'>
            <div class="col-auto mx-auto">
                <div class="alert alert-primary mt-5" style="font-size: large;cursor:default;" role="alert">
                    {% trans 'Alert! The order in the list below matters and is fixed.' %}
                </div>
            </div>

            <div class="col-12 col-lg-10 offset-lg-1 mt-2">
                <div class="table-responsive mb-4" style="overflow-y: auto;height:80vh; border-top: 1px solid grey" id='parent'>
                    <div id='child' class="" style="width: min-content;">
                        <table class="table table-sm table-bordered mb-5">
                            <thead>
                                <tr>
                                    <th scope="col">{% trans 'Target' %}</th>
                                    <th colspan="50" scope="colgroup">{% trans 'Outline' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for target, lst in query %}
                                <tr>
                                    <th class="front-{{target.fake}}">
                                        <div class="d-flex justify-content-center">
                                            <h5>
                                                <span class="badge badge-pill badge-info">
                                                    {{target.player}}
                                                </span>
                                            </h5>
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <h5>
                                                <span class="badge badge badge-secondary">
                                                    {{target.target}}
                                                </span>
                                            </h5>
                                        </div>
                                        {% if target.fake %}
                                        <div class="d-flex justify-content-center">

                                            <h5 style="color: teal;" class="font-italic">
                                                Fake
                                            </h5>
                                        </div>
                                        {% elif target.ruin %}
                                        <div class="d-flex justify-content-center">

                                            <h5 style="color: rgb(109, 70, 46);" class="font-italic">
                                                <img src='{% static "images/catapult.png" %}' alt="cat">
                                                {% trans 'Ruin' %}
                                            </h5>
                                        </div>
                                        {% else %}
                                        <div class="d-flex justify-content-center">

                                            <h5 style="color: rgb(79, 81, 85);" class="font-italic">
                                                <img src='{% static "images/ax.png" %}' alt="ax">
                                                {% trans 'Off' %}
                                            </h5>
                                        </div>
                                        {% endif %}
                                    </th>
                                    {% for weight in lst %}
                                    <th>
                                        <div class='d-flex justify-content-center' style="font-size: medium;">
                                            <span class='badge badge-pill badge-info text-break'>{{weight.player}}</span>
                                        </div>
                                        <div class='d-flex justify-content-center'>
                                            <h6>
                                            <span class='badge badge badge-secondary'>{{weight.start}}</span>
                                            </h6>
                                        </div>
                                        <div class='d-flex justify-content-center' style="font-size: medium;color:green; ">
                                            {{weight.t1|safe}}
                                        </div>
                                        <div class='d-flex justify-content-center' style="font-size: medium;color: red;">
                                            {{weight.t2|safe}}
                                        </div>
                                            <table class="table table-sm">
                                                <tr>
                                                    <th>
                                                        <img src='{% static "images/ax.png" %}' alt="ax">
                                                    </th>
                                                    <th style="font-size: small;cursor:default">
                                                        {{weight.off}}
                                                    </th>

                                                </tr>
                                                {% if weight.ruin %}
                                                <tr>
                                                    <th>
                                                        <img src='{% static "images/catapult.png" %}' alt="cat">
                                                    </th>
                                                    <th style="font-size: small;cursor:default;">
                                                        {{weight.catapult}}
                                                    </th>
                                                </tr>
                                                {% else %}
                                                <tr>
                                                    <th>
                                                        <img src='{% static "images/nobleman.png" %}' alt="ax">
                                                    </th>
                                                    <th style="font-size: small;cursor:default;">
                                                        {{weight.nobleman}}
                                                    </th>
                                                </tr>
                                                {% endif %}
                                                <tr>
                                                    <th>
                                                        <svg width="1.3em" height="1.3em" viewBox="0 0 16 16"
                                                            class="bi bi-signpost" fill="#6c757d"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7 1.414V4h2V1.414a1 1 0 0 0-2 0z" />
                                                            <path fill-rule="evenodd"
                                                                d="M12.532 5H2v4h10.532l1.666-2-1.666-2zM2 4a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h10.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H2z" />
                                                            <path d="M7 10h2v6H7v-6z" />
                                                        </svg>
                                                    </th>
                                                    <th style="font-size: small;cursor:pointer;" onclick="calculate_distance(this);">
                                                        {{weight.distance|floatformat:1}}
                                                    </th>
                                                </tr>
                                            </table>
                                    </th>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>document.addEventListener("DOMContentLoaded", function (event) {$('.popoverData').popover();});</script>
{% endblock %}