name: benchmarks

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - master

permissions:
  actions: write
  contents: read

jobs:
  run_benchmarks:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:18.0
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_INITDB_ARGS: --no-sync
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v6

      - name: Setup Python and uv Environment
        uses: ./.github/actions/setup-python-uv

      - name: Create .env file from example env file and staticfiles
        run: |
          cp .env.example .env
          uv run python manage.py collectstatic --no-input
          make build_cython
          rm utils/write_noble_target.py
          rm utils/write_ram_target.py

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          mode: instrumentation
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: |
            make benchmark
